[2016-04-28 20:21] jmuk opened #14 "Invoke packman for Gapic code generation of Python/Ruby"
For Python/Ruby, Gapic codegen pipeline only runs toolkit and that's it, but it should invoke packman to prepare the package-related files (i.e. README and setup.py / gemspec files).

CC: @tbetbetbe

[2016-05-04 19:54] #14 closed

[2016-05-06 22:21] ethanbao opened #20 "Support docker-based remote execution"
Artman is designed to support local and remote execution. And the remote stack will be powered by a docker-based solution.

[2016-05-06 22:22] ethanbao opened #21 "Create artifact publishing tasks"
The package managers need to be supported now are maven and pypi.

[2016-06-08 20:37] omaray opened #29 "Running JavaGrpcClientPipeline doesn't work properly"
When running the following command nothing happens:

python execute_pipeline.py --config '../googleapis/gapic/api/artman_yyyy.yaml:common|java,../googleapis/gapic/lang/common.yaml:default|java' JavaGrpcClientPipeline

Note: the string "yyyy" stands for a random api.

IMPACT
It seems like we are not able to generate the Java gRPC generated files at all.

EXPECTED RESULT
It should just work: we shou

[2016-06-16 21:04] geigerj opened #36 "gRPC plugin structure"
It looks like gPRC Python may be moving away from releasing a standalone plugin, and instead wrapping protoc as a Python executable and distributing it in the grpcio-tools package: https://pypi.python.org/pypi/grpcio-tools

We should see whether other languages are doing something similar. If we can use package dependencies rather than assuming that the plugins are installed (I think artman just c

[2016-06-18 00:05] geigerj opened #39 "Make more packman flags configurable"
In particular, the `--services_root` and `--include_path` flags for `gen-api-package` are useful for APIs that are not in the googleapis repo,

[2016-06-23 20:33] shinfan opened #40 "JavaCorePipeline does not work properly"
Expected results:

Only core protos are generated.

Actual results:

All protos in googleapis are generated.

[2016-06-23 21:28] #40 closed

[2016-06-29 23:56] shinfan opened #42 "Make grpc pipeline support EAP"

[2016-07-12 18:07] geigerj opened #46 "Fix build failures, lint test/ directory"
After #44 or #45 is merged, we will not be pylint'ing the test directory in order to fix a build failure. In fact, we may not have been pylint'ing the test directory previously. In any case, we should fix this.

[2016-07-18 21:48] bjwatson commented on #42
Related to https://github.com/googleapis/packman/issues/53

[2016-07-28 19:03] geigerj opened #51 "Support artman config without REPOROOT"
REPOROOT causes confusion when running artman in remote mode -- on the local machine, it corresponds to a directory that contains both the real googleapis repo and a "local_repo", whereas remotely it refers to a single directory named "googleapis" that corresponds to the merged value of both of these.

The artman config refers only to the remote setup; a path such as `{REPOROOT}/googleapis/foo/bar

[2016-08-08 20:50] shinfan opened #55 "Support generation of java gRPC source code in the generation phase."
At present, the pipeline won't build the source code until publish/package phase. The grpc generation output is a gradle build file, so the user needs to manually run the gradle task and retrieve the source code from the generated/ directory.

[2016-08-09 18:30] garrettjonesgoogle opened #56 "Convert JavaCorePipeline to use Packman"

[2016-08-09 18:30] garrettjonesgoogle commented on #56
FYI @ethanbao @mvashishtha @shinfan @michaelbausor - I will start work on this.

[2016-08-09 21:29] bjwatson opened #57 "Document how to run documentation pipeline for Python and Ruby"
What:
Add section to USAGE.rst for how to create documentation for Python and Ruby APIs. Also, add configuration for the documentation pipeline to the `googleapis` repo.

Why:
https://github.com/googleapis/toolkit/issues/239 separated the documentation pipeline for Python and Ruby from the surface generation pipeline. We need to document this.

[2016-08-10 23:16] bjwatson opened #60 "Emit better error if gen-api-package cannot be found"
Steps to reproduce:

1) In a complete repository checkout (including artman and toolkit), `cd artman`
2) Confirm that `gen-api-package` is _not_ in your PATH variable
3) Run the JavaGrpcClientPipeline or PythonGrpcClientPipeline

Expected result:
A helpful error should indicate that the gen-api-package command cannot be found.

Actual results:
An obscure `OSError: [Errno 2] No such file or directo

[2016-08-12 18:20] #20 closed

[2016-08-19 01:00] #57 closed

[2016-08-23 19:49] jmuk opened #69 "Ruby gRPC client generation should be merged into gapic pipeline"
The gcloud-ruby project actually bundles gRPC generated files as a part of the google-cloud libraries (for example, gcloud-ruby/google-cloud-pubsub contains the gRPC files at https://github.com/GoogleCloudPlatform/gcloud-ruby/tree/master/google-cloud-pubsub/lib/google/pubsub/v1).

For non-cloud APIs, I think either design (i.e. merging into a single package or separating Gapic client from gRPC cli

[2016-08-24 18:51] bjwatson commented on #69
Does this mean that the `GapicClientPipeline` would also do the work of `GrpcClientPipeline` when `--language=ruby`? Why should this be different for Ruby vs. other languages?

The pipeline that does the packaging can be distinct from the pipelines that do the gRPC and GAX generation. That way the two generation steps can remain separate, and then be brought together for the package.

For the gRPC

[2016-08-24 18:56] geigerj commented on #69
On `grpcio-tools`: Currently we get protoc from linuxbrew here: https://github.com/grpc/homebrew-grpc

That site indicates that the linuxbrew method is deprecated for all languages except C/C++. For Python, the replacement is the `grpcio-tools` package on PyPI, which includes an executable replacement for protoc that pulls in the Python plugin automatically. (Although I haven't gotten this to work

[2016-08-24 19:08] geigerj commented on #69
Also agreed with Brian that the difference between Ruby and other languages seems strange -- why can't we just configure the output directory for both pipelines be the same, while keeping the actual implementations separate? This would permit consistency with other languages, both in the invocation of the pipeline, and in the way we structure output for non-cloud APIs.

[2016-08-24 19:21] jmuk commented on #69
There is also `grpc-tools` Ruby package (see https://rubygems.org/gems/grpc-tools). If that's the way to go, let's use this (i.e. adding to the Dockerfile).

[2016-08-24 19:27] jmuk commented on #69
Having the same output directory (but keeping the separation of the pipeline) would be good enough. One concern is that, that way the instruction for remote pipeline (i.e. self-service) will require a manual step to merge them into a single package, like:
1. run GrpcClientPipeline, then download artifacts
2. run GapicClientPipeline, then download artifacts
3. copy the result of 1 into the result o

[2016-08-24 20:15] geigerj commented on #69
I think the copy-and-build step is actually consistent with the current instructions for Java. The artman wrapper will also eventually provide a single command (called "generateLibrary" or similar) that runs both pipelines and downloads the combined result.

[2016-08-24 20:23] jmuk commented on #69
Okay, if that's consistent with others, that's totally fine.
Let me close this issue by itself. I'll file another issue for the use of its own `grpc-tools`.

[2016-08-24 20:23] #69 closed

[2016-08-24 20:28] jmuk opened #72 "Stop using packman for Ruby gRPC client generation"
Derived from #69:

Currently Ruby gRPC client pipeline use packman to generate gRPC files. However, that does not fit with the design of gcloud-ruby, where a package contains all of hand-written layers, Gapic-generated files, and gRPC-generated files.
That is Cloud APIs only, but there are no strong reasons to split packages for Gapic files and gRPC files in Ruby.

Because of that, we should stop

[2016-08-25 03:38] geigerj opened #74 "Remote execution fails when local_repo is too big"
### Observed behavior

When the directory specified by the local_repo dir is too big, remote execution fails with the confusing message "taskflow.exceptions.StorageFailure: Storage backend internal error". This is a frequent error case if the directory pointed to is actually a git repo (i.e., also contains associated git metadata).
### Expected behavior

Artman should validate that the size of loc

[2016-08-30 03:00] jmuk commented on #72
@Landrito, this is the one we chatted.

[2016-08-30 16:14] michaelbausor opened #79 "Unit tests rely on remote zookeeper instance"
The `test/test_gapic_conductor.py` tests should be modified to not rely on a remote instance of zookeeper.

[2016-08-30 17:10] Landrito commented on #72
Gotcha, I'll look into it!

[2016-08-30 19:26] bjwatson opened #80 "GapicConfigPipeline can overwrite file in remote environment"
### What:

GapicConfigPipeline currently raises a ValueError if the target GAPIC config file already exists. This can be disabled in a remote environment.
### Why:

This test is justified in the local environment, because GapicConfigPipeline can overwrite the GAPIC config in a developer's [`googleapis`](https://github.com/googleapis/googleapis) sandbox that might have unstaged changes. Not having

[2016-08-30 21:09] jmuk opened #81 "is_output_gcloud() function might miss some output directory"
Recently gcloud-ruby and gcloud-node repositories were renamed to google-cloud-ruby and google-cloud-node.
Ruby and Node pipelines change their behaviors upon is_outrput_gcloud(), and this function needs to deal with the new repository name.

[2016-08-31 20:07] garrettjonesgoogle commented on #72
I did want to note that the "similar to Java" comment is not correct - Java was converted to use packman (opposite conversion as proposed here for Ruby).

At a higher level, I'm not a huge fan of this mix of doing some generation in packman and some in artman. It seems preferable to make only one component responsible.

[2016-08-31 20:33] jmuk commented on #72
Hmmm, I didn't know that, thank you for the info.

Then, I am quite unsure what needs to be done here... possibly:
- fix packman templates -- remove README or gemspec files. Then purely run protoc.
- modify artman task to copy the packman results to the final_repo_dir
?

[2016-08-31 20:42] garrettjonesgoogle commented on #72
I think it could make sense for artman to copy the packman results to final_repo_dir.

[2016-08-31 21:04] Landrito commented on #72
For clarifications sake, we are copying rather than generating directly to the final_repo_dir to avoid the case where generation fails partway through only generating some of the files?

[2016-08-31 22:06] garrettjonesgoogle commented on #72
Yes, we always generate directly into a temp dir under output/.

[2016-09-07 21:22] geigerj opened #89 "Remote mode fails to download output"
### Expected behavior
After a pipeline completes successfully in remote mode, the results are downloaded as a zip file.

### Observed behavior
Artman does not attempt to download result.

### Possible cause
[A recent commit](https://github.com/googleapis/artman/commit/05d74055a85d6295887a76709da17dc648e019c8#diff-41ef7726e048e1a4cd48228eeada3686R48) changed the names of the tasks, but the [conditi

[2016-09-07 22:00] #89 closed

[2016-09-07 23:24] geigerj opened #91 "Confusing failure in remote mode for GAPIC config pipeline"
### Expected behavior

If a GAPIC config already exists and the pipeline is running in remote mode, either
- artman fails and returns a meaningful error message, or
- artman overwrites the config in the archive that is downloaded
### Observed behavior

Artman fails with no information. Logs indicate only that the config was generated successfully, since the failure occurs at the copying stage -- a

[2016-09-09 17:44] geigerj opened #93 "Deprecate ${THISDIR} expansion"
After https://github.com/googleapis/googleapis/pull/130 there will be no remaining use for the `THISDIR` macro, which is incompatible with the remote mode for artman. We can remove the expansion logic altogether.

[2016-09-09 17:45] geigerj commented on #93
In particular, this issue is to remove the logic here: https://github.com/googleapis/artman/blob/05d74055a85d6295887a76709da17dc648e019c8/pipeline/utils/config_util.py#L36

[2016-09-14 17:25] swcloud opened #95 "Add option to skip packman task"
For Ruby and NodeJS APIs, due to the effort to integrate with the existing hand-written veneer, some artifacts such as package meta data (README.md, package.json, or gemspec) are not needed, so we can skip the packman task when generating the Gapic artifacts. However, for other APIs such as ErrorReporting, since there is no existing hand-written veneer code, these package meta data still need to b

[2016-09-14 17:31] geigerj commented on #95
cc @jmuk

Per offline discussion, we should make this configurable from the artman invocation. I was originally considering turning this into a flag, but on second thought it is better to make it a `pipeline_arg` that can be configured per-APIxLanguage via artman config.

[2016-09-14 18:31] #95 closed

[2016-09-14 23:28] bjwatson opened #97 "Move Python gRPC packages to google.cloud.grpc namespace"
### What:

Change the Python path for gRPC-generated cloud APIs to `google.cloud.grpc.{api}.{version}`.
### Why:

We have to do this for the Cloud ML libraries, because they currently define the `google.cloud.{api}` namespace, which interferes with the [google-cloud-python team](https://github.com/GoogleCloudPlatform/google-cloud-python) putting package members into `google.cloud.{api}` for user c

[2016-09-15 20:25] bjwatson commented on #80
@shinfan @ethanbao This issue is relevant to the email discussion about self-service today. An enhancement that Ethan proposed is to also allow this in a local environment, but to make a copy of the current GAPIC config if one exists (e.g. foobar -> foobar.sav).

[2016-09-20 00:28] jmuk commented on #72
Let me reopen this, I think the original description still makes sense.

The justification is that we actually don't need package definition files for gRPC clients, because we don't create an independent package for gRPC client. Instead Gapic client package should contain .rb files for both Gapic and gRPC clients. Now it's better for artman to invoke proto-compiler rather.

[2016-09-20 17:48] #93 closed

[2016-09-22 01:51] bjwatson opened #102 "GCloud dependency conflicts"
### Steps to Reproduce
1. `virtualenv venv`
2. `source venv/bin/activate`
3. `pip install -e git+https://github.com/googleapis/artman#egg=remote`
4. `start_conductor.py`

### Expected Result
The conductor successfully starts.

### Actual Result
The following dependency conflict occurs:

[code]

### Analysis

This is ultimately because the last release of [`gcloud`](https://pypi.python.org/pypi/gcl

[2016-09-22 01:55] bjwatson opened #103 "Upgrade gcloud dependency to latest version of google-cloud"
### What

Upgrade `gcloud` dependency to latest version of `google-cloud` (currently `0.20.x`).
### Why
1. Dependency issues: See https://github.com/googleapis/artman/issues/102 for context.
2. Stop using Logging v1, which is deprecated.

[2016-09-22 02:45] dhermes commented on #102
This is a known issue but `google-cloud-python` has now been released (version `0.19.0`)

I am AFK right now so can't find the issue but @geigerj mentioned in our bug tracker that `0.18.2` wouldn't be necessary in light of `0.19.0`

[2016-09-22 15:44] bjwatson commented on #102
@dhermes I think we're realizing in hindsight that this small `0.18.2` release would help the transition that was created by us doing two rename simultaneously: `gcloud -> google-cloud` and `gax-google-* -> gapic-google-*`.

[2016-09-22 16:14] dhermes commented on #102
Since this is "our" issue I opened #2385 as well (for record-keeping). This release seems to be more trouble than it's worth.

[2016-09-22 19:04] geigerj commented on #74
Users are not seeing the error message. Re-opening.

[2016-09-22 22:16] bjwatson commented on #102
Thanks, Danny. @geigerj or I will test that this bug is no longer occurring, and then close this issue.

[2016-09-22 22:17] bjwatson commented on #102
This is all due to lacking upper bounds on dependencies in our code as well as yours. We just need to tighten this up going forward, so that we're enforcing semver (including the variant we agreed to for 0.x).

[2016-09-23 01:20] bjwatson commented on #102
@dhermes Could I trouble you to release `0.18.3` with the `google-gax` upper-bound tightened to `0.13dev`? I don't think that `gax-google-* 0.8.x` is compatible with `google-gax 0.13.0`, due to moving away from the gRPC beta methods in the latter (the former did not do this until `gapic-google-* 0.9.x`).

[2016-09-23 01:25] bjwatson opened #104 "Remove default --jobboard_name from start_conductor.py"
### What:

Remove default `--jobboard_name` from `start_conductor.py`.
### Why:

The default is `remote`, which should be exclusively used by our remote build server. I just ran `start_conductor.py` on my workstation, and it ate a bunch of messages from Zookeeper server.

[2016-09-23 01:27] dhermes commented on #102
@bjwatson Does it matter? We already have 0.19.0 released. This is a lot of churn for `0.x` versions

[2016-09-23 01:55] bjwatson commented on #102
It's because our self-service instructions are broken for our partners due to `artman` still depending on `gcloud`. There's more work we need to do to port it to `google-cloud`: https://github.com/googleapis/artman/pull/101

It seems fastest to just fix the upper bounds in `gcloud 0.18.x`, so that we can keep focusing on churning out APIs before the end of the quarter.

[2016-09-23 16:40] dhermes commented on #102
1. OK doing it now
1. Please fix your self-service instructions instead of punting back to us

----

Pushed the [tag][1], canceled the [build][2] since it won't push to PyPI anyway and Travis is being slow these days. The only relevant [commit][3] makes the upper bound tighter. Manually uploaded [to PyPI][4] with `twine`.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/releases/ta

[2016-09-23 23:59] bjwatson commented on #102
@dhermes Thanks for pushing the new release.

Just for the record, the problem wasn't with our instructions. It was with upgrading our tool's dependency from `gcloud 0.18.x` to `google-cloud 0.19.x`, which is apparently is not trivial (https://github.com/googleapis/artman/pull/101). We'll need to do it eventually anyway, but I was thinking that fixing the dependency upper bounds in `gcloud 0.18.x`

[2016-09-24 00:03] bjwatson commented on #102
Confirmed that this issue is now fixed.

[2016-09-24 00:03] #102 closed

[2016-09-27 21:09] geigerj commented on #80
At the very minimum we should give a meaningful error message in this case. Currently, artman writes "`BUILD SUCCESSFUL`" to the log and then fails, which is very unhelpful.

[2016-09-30 18:03] geigerj opened #106 "Tests fail if TOOLKIT_HOME is set"
### What

If the environment variable `TOOLKIT_HOME` is set, the tests fail because they expect toolkit to be located in the fake test directory, but the environment variable overrides this location. The tests should ignore the environment so that they are deterministic.
### Why

Tests should be deterministic independent of environment.

/cc @swcloud

[2016-10-07 18:38] geigerj opened #109 "Failing jobs linger on zookeeper"
### What

Failing jobs are not currently removed from the jobboard on zookeeper, but they should be.
### Why

Stale, failing jobs still get claimed by the remote conductor, and continue to fail. This has a negative impact on performance and is a waste of resources.

[2016-10-13 16:55] jmuk opened #111 "skip_packman isn't a great config name"
When a user writes their own artman configuration yaml, normally they will refer to existing file, and many of existing package yaml contains 'skip_packman' for Ruby and Node.

The problem is that nobody outside of our team would understand what packman is, therefore they will copy 'skip_packman: true' line unintentionally.

It's better to rename this.

[2016-10-13 16:55] jmuk commented on #111
cc: @geigerj @swcloud

[2016-10-13 16:57] geigerj commented on #111
Possible suggestions for renaming: `package_metadata`, `standalone_package`, `package`?

[2016-10-13 16:57] jmuk commented on #111
some random ideas: 'generate_package_files', 'source_only'

[2016-10-13 16:58] jmuk commented on #111
`package_metadata` might be good. I like it.

[2016-10-13 16:58] jmuk commented on #111
cc: @bjwatson too

[2016-10-13 17:01] garrettjonesgoogle commented on #111
@pongad added a new config field into the GAPIC yaml named `domain_layer_location` which I think could serve for this purpose. The real "data" is if there is a domain layer for the API; the `skip_packman` field is just a specific action that should be taken as a result. The challenge is that the config line is in GAPIC yaml instead of artman yaml. Over time, I think we will be encountering more co

[2016-10-13 18:44] swcloud commented on #111
There will be always arguments around names. :)

'domain_layer_location' sounds non-intuitive too if that's a configuration item exposed to a user.

[2016-10-13 18:47] swcloud commented on #111
In this particular case, I'd prefer 'generate_package_metadata' since it explicitly indicates whether we want to generate package metadata or not.

[2016-10-14 20:16] #72 closed

[2016-10-25 20:03] geigerj commented on #97
I think the fact that `packman` deals with the protos directly at all is problematic. As discussed some time ago, the reason `packman` runs `protoc` (instead of `artman` invoking `protoc` directly via a task) is a historical accident. As an implementation detail, I propose we move Python gRPC generation off packman as part of this fix.

[2016-10-25 20:15] geigerj commented on #97
As discussed offline, I think it's hackish to be editing the `_pb2` files and would prefer this was handled upstream. I've filed https://github.com/grpc/grpc/issues/8492 to that end.

However, for expediency I'll try to figure to automate this described in `artman` in the meantime.

[2016-10-25 21:26] bjwatson commented on #97
@geigerj I agree with both proposals:

1) Let's fix this right. I agree that we should move the `protoc` call into `artman`. What does that mean for generating `googleapis-common-protos`? Would we still leave `protoc` calling code in `packman` for this?

2) We need to do something in `packman` for schedule reasons, but I agree that pushing this down to `protoc` future-proofs us against changes the

[2016-11-29 00:36] geigerj opened #116 "API naming variable changes"
@garrettjonesgoogle @bjwatson @omaray

### Background

Some recent changes have introduced inconsistencies in how we refer to the gRPC Python packages -- just wanted to get input on how we should resolve this. Renaming the packages at a future date is a breaking change, and it's linked to some changes I want to make around how we treat the concept of "API names" in our tooling in connection to goo

[2016-11-29 01:50] geigerj commented on #116
See this commit for an example of how this might be done in artman naively:
  https://github.com/geigerj/artman/commit/b2ed7090962f6274186e76a6909e747c2cc07a1c

[2016-11-29 01:54] geigerj commented on #116
My concern with this is that it means the `artman` output directory *always* references Google Cloud, even if the API is not a Cloud API. Maybe we can introduce a new flag `cloud_api` to the artman `common.yaml` config file that only prefixes `google-cloud-` to the API name if the flag is set.

[2016-11-29 06:38] jskeet commented on #116
I wouldn't be at all surprised if the C# title needed to be specified by hand either way, to be honest. It might be worth having a "default" based on the four variables you've said, but have an escape hatch for any that are awkward for whatever reason.

[2016-11-29 18:36] geigerj commented on #116
@jskeet That's true; constructing API Name with default value of `google-cloud-{short name}-{version}` shouldn't preclude making it configurable later.

AFAICT, C# currently [only uses this configuration parameter to create an intermediate output directory during the code generation pipeline -- it's not actually passed into any of the tools](https://github.com/geigerj/artman/commit/b2ed7090962f627

[2016-11-30 21:17] geigerj commented on #116
Downgrading priority and removing "blocking beta" label, as after #811 this is internal cleanup rather than a bug.

[2016-11-30 22:35] geigerj commented on #97
I have confirmed that the latest versions of artman and toolkit produce the right package names for `logging`.

[2016-11-30 22:35] #97 closed

[2016-11-30 22:57] geigerj opened #119 "Baseline tests don't capture gRPC plugin"
#118 fixes a breakage in the Ruby gRPC pipeline, but the baseline tests don't reflect that; the actual pipeline passes the gRPC plugin parameter value, but the test pipeline doesn't. Investigate why not.

Original report from @swcloud:

Final args:
  package_defaults_yaml : ../googleapis/gapic/packaging/api_defaults.yaml
  repo_root : ..
  package_dependencies_yaml : ../googleapis/gapic/packaging/

[2016-12-01 16:05] geigerj opened #121 "PythonChangePackageTask temporary files referenced in gRPC generated code"
### What

`PythonChangePackageTask` creates temporary proto files; these temporary files are referenced in the `source` comment of the generated gRPC Python code rather than the true source proto ([example](https://github.com/googleapis/api-client-staging/pull/118/files/2bcd2875a578ae525d2aabb862cf9c131b4665f5#diff-d7392ffc12163055451f586579c0cd5dL2)).

### Why

It's confusing to have final, end-u

[2016-12-05 23:14] geigerj commented on #119
@swcloud Why is this closed? Was there a PR that fixed it?

[2016-12-05 23:24] #81 closed

[2016-12-05 23:40] garrettjonesgoogle commented on #29
Actually I think this was never broken, the command just wasn't informative enough to say that it succeeded.

[2016-12-05 23:40] #29 closed

[2016-12-06 00:19] shinfan commented on #42
This issue should be obsolete since we are moving EAP to use remote pipeline / blaze rule.

[2016-12-06 00:19] #42 closed

[2016-12-06 00:21] swcloud commented on #119
Didn't you fix it here: https://github.com/googleapis/artman/pull/120?

[2016-12-06 01:06] geigerj commented on #119
@swcloud yup, for an unknown reason the existing tests did not catch the issue that required #120 -- it might still be worth investigating why.

[2017-01-10 20:35] geigerj commented on #116
This was fixed by #123 and #124

[2017-01-10 20:35] #116 closed

[2017-01-14 00:35] geigerj opened #133 "Use Python GAPIC package name to determine Python gRPC package name"
### What

The Python GAPIC package name is currently configured in the GAPIC config. The Python gRPC package name is determined by combining the prefix `google.cloud.grpc` with the proto package name. For consistency, it would be good to use the same package name structure for both GAPIC and gRPC; that is, any GAPIC package `{prefix}.gapic.{suffix}` will depend on the gRPC package `{prefix}.grpc.{

[2017-01-19 19:40] geigerj commented on #133
@bjwatson After discussing with @lukesneeringer, I'm opposed to this for a few reasons, mostly related to proto dependencies:

- It requires `artman` AND `toolkit` to know not only about the GAPIC config for the API it is generating, but about *all* GAPIC configs in existence (since protos can import arbitrary other protos)
- A change the configured GAPIC package name in one API potentially entail

[2017-01-20 21:23] jmuk commented on #111
Want to revisit this issue. Since parts of package generations are moving to toolkit, the name `skip_packman` does not make much sense.

[2017-01-25 00:23] geigerj commented on #133
Per offline discussion with @lukesneeringer and @bjwatson, the current state of things will be maintained. In summary:

- The package name that appears on PyPI (e.g., `proto-google-cloud-errorreporting-v1beta1` and `gapic-google-cloud-errorreporting-v1beta1`) will be consistent and derived only from the artman config.
- The package *path* within these PyPI packages (e.g., `google.cloud.proto.devto

[2017-01-25 00:23] #133 closed

[2017-01-30 19:45] garrettjonesgoogle commented on #56
This was done awhile back... and now we actually want to do the opposite! Closing.

[2017-01-30 19:45] #56 closed

[2017-01-30 20:06] garrettjonesgoogle opened #136 "Support publishing of javadocs to gh-pages (in googleapis) as part of grpc package generation"

[2017-01-30 20:07] garrettjonesgoogle commented on #136
This depends on https://github.com/googleapis/artman/issues/55 .

[2017-02-07 22:24] garrettjonesgoogle commented on #136
Added a target named `updateDocsWithCurrentVersion` to the generated build.gradle of each grpc package in https://github.com/googleapis/packman/pull/158 ; as of now, this still needs to be invoked manually.

[2017-02-27 21:34] michaelbausor opened #141 "Clear api-client-staging with stage_output flag"
The --stage_output flag should clear the api-client-staging repo before copying files. Otherwise in cases such as a file rename we will end up with stale files.

[2017-02-27 22:11] shinfan commented on #141
I will send PR to fix this.

[2017-03-16 23:17] garrettjonesgoogle commented on #39
Is this obsolete since we are moving away from Packman now?

[2017-03-16 23:22] geigerj commented on #39
Yup, let's close this out. (Unlike Packman, the new flow doesn't care whether the input protos are located in googleapis.)

[2017-03-16 23:22] #39 closed

[2017-04-03 20:38] shinfan opened #148 "Allows default values for non-specified config fields"
For example, we should allow the default value of package_type field so we do not need to specify such field in every artman config per API.

[2017-04-03 20:45] ethanbao opened #149 "Integrate Go generator into artman"
Please include all dependencies needed by Go grpc/gapic generation into Dockerfile and make sure that artman can be used to generate Go grpc and gapic libraries. This should mostly be integration work.

[2017-04-11 00:33] swcloud opened #155 "Integration test failure"
When doing 'tox -e py27', there are errors showing as below

$ tox -e py27
py27 installed: appdirs==1.4.3,automaton==1.8.0,Babel==2.4.0,cachetools==2.0.0,colorlog==2.10.0,configparser==3.5.0,contextlib2==0.5.4,coverage==4.3.4,debtcollector==1.13.0,decorator==4.0.11,enum34==1.1.6,extras==1.0.0,fasteners==0.14.1,fixtures==3.0.0,flake8==3.2.1,funcsigs==1.0.2,functools32==3.2.3.post2,futures==3.0.5,fu

[2017-04-19 20:50] geigerj commented on #36
Obsolete

[2017-04-19 20:50] #36 closed

[2017-04-19 20:51] geigerj commented on #46
Obsolete

[2017-04-19 20:51] #46 closed

[2017-04-20 17:39] ethanbao opened #163 ""/" root is now allowed as "Local code path" during configure-artman step"
"/" is the root when artman is running in docker/remote mode.

I can manually update the value in ~/.artman/config.yaml to "/" after initialization though.

[2017-04-20 20:40] lukesneeringer commented on #163
Just pass `--reporoot=/`.
I can set that to happen automatically if `--remote` is issued.

[2017-04-20 20:42] lukesneeringer commented on #141
@michaelbausor @shinfan I believe my new `--publish local` and `--publish github` both handle this case correctly. Can I close this?

[2017-04-20 20:43] lukesneeringer commented on #106
`TOOLKIT_HOME` is gone. Closing.

[2017-04-20 20:43] #106 closed

[2017-04-20 20:44] lukesneeringer commented on #148
We have this ability now (we did not before #159). If you will tell me what you want the defaults to be, I can make this happen in googleapis.

[2017-04-20 20:45] lukesneeringer commented on #155
I completely redid the unit test running in artman in #159. I am going to close this for now since I expect the toolchain changes likely fixed it, but if you are still getting this, please feel free to re-open.

[2017-04-20 20:45] #155 closed

[2017-04-20 20:47] lukesneeringer commented on #51
I took a different pass at this with `local_paths`, which allows each repository to _either_ be derived from `reporoot` _or_ explicitly defined. I assert it probably solves for this problem.

Note that in the remote pipeline, we will just check out the applicable repos. I think that is orthogonal to this issue, though.

[2017-04-20 21:53] geigerj commented on #51
@lukesneeringer For context, this issue was originally raised by some of our users who were running the remote pipeline with protos that were not yet checked into the applicable repos; we supported a phase in which the users specified a local directory that was then uploaded and merged into a clone of the `googleapis` repo. This caused quite a lot of confusion from our users about what files were

[2017-04-21 00:06] shinfan commented on #141
Feel free to close this issue if your new publish task clear the repo before copying files.

[2017-04-21 15:22] lukesneeringer commented on #141
It does ([local][], [github][]).

  [local]: https://github.com/googleapis/artman/blob/master/artman/tasks/publish/local.py#L59
  [github]: https://github.com/googleapis/artman/blob/master/artman/tasks/publish/github.py#L84-L85

[2017-04-21 15:22] #141 closed

[2017-04-21 15:35] lukesneeringer commented on #51
I see. My changes do not really make _that_ particular problem much better (although they certainly do not make it any _worse_). Really the issue is not with `reporoot`, it is with `googleapis`.

The ultimate solution to _this_ problem is probably to infer basically everything that is not in the artman or GAPIC YAML files; we do not really need to outright specify `lang/common.yaml` every time; it

[2017-04-21 23:07] vchudnov-g opened #166 "artman seems to expect toolkit under reporoot, in spite of explicit override in config"
Using `configure-artman`, I set up my `toolkit` dir to point to the place where I had cloned the toolkit repo, which was not under `reporoot`. I then tried to generate the GAPIC for pubsub as per artman's `README` instructions, and it failed.

I then made a symlink such that `$REPOROOT/toolkit` pointed to the actual directory where I cloned the toolkit repo, and the GAPIC generation succeeded.

Fr

[2017-04-22 00:01] vchudnov-g commented on #166
Same thing if true for `googleapis`. It, or a link to it, must be under `reporoot`.

Both of these behaviors seem understandable from reading  `artman_pubsub.yaml`, but I found them confusing given `configure-artman`'s statement that "Other paths (example: toolkit) will derive from this, but most are individually configurable," and the prompts to allow overriding the derived paths. I suggest chang

[2017-04-27 16:19] ethanbao opened #173 "setup_logger can setup the same handler for multiple times"
This is not a problem when running artman in CLI mode, but cause duplicate logging entries when running in remote service mode.

[2017-04-27 17:20] geigerj opened #175 "Configuration merge semantics"
From @lukesneeringer's comment on #171:

[2017-04-28 04:50] ethanbao opened #176 "Delete task after a certain number of retries"
Should not retry a task for more than 3 times. If it failed for more than one time, it probably fails because of bad config.

[2017-04-28 17:54] ethanbao opened #178 "Improve error logging when PR creation failed in github.py"

[2017-05-02 23:06] lukesneeringer opened #182 "New protobuf version breaks artman on Python 2.7"
Build: https://travis-ci.org/googleapis/artman/jobs/228147078
Issue on protobuf: https://github.com/google/protobuf/issues/3042

[2017-05-02 23:07] lukesneeringer commented on #182
If there is not a fix for this by tomorrow, we can just pin to the previous version.

[2017-05-03 00:18] lukesneeringer commented on #182
The protobuf team has fixed it (see the issue link in the original comment).

[2017-05-03 00:18] #182 closed

[2017-05-04 19:21] ethanbao opened #185 "Refactor TaskBase.exec_command into a util method"
We have some code path that directly use subprocess.check_output, which should be replaced with the util method.

[2017-05-08 17:44] shinfan commented on #55
@michaelbausor I think we can close this issue. The artman already produces the grpc source code.

[2017-05-08 17:44] #55 closed

[2017-05-08 17:45] shinfan commented on #136
This is already done: https://github.com/googleapis/toolkit/blob/master/src/main/resources/com/google/api/codegen/metadatagen/java/grpc/package.snip#L152

[2017-05-08 17:45] #136 closed

[2017-05-08 23:24] garrettjonesgoogle opened #188 "httplib2 dependency problem"
I just did `sudo pip install googleapis-artman`, and then when I try to run `artman --api logging --language java --publish local`, it says:

[code]

And when I rerun the install, I see a line that says

[code]

[2017-05-20 01:02] lukesneeringer opened #195 "Ruby GRPC build does not work."
The task was previously referring to a variable `pkg_dir` which raised `NameError` (the variable was not defined).

As part of #193, I added the variable to the method signature for the task, but it is not being provided by the tasks that precede it:

[code]

This is orthogonal to #193, so filing here for tracking.

[2017-05-26 17:47] #195 closed

[2017-05-31 18:42] ethanbao commented on #173
Fixed in https://github.com/googleapis/artman/commit/48b03c3ced812ca7298c11d377e21a38bc4a0d4a

[2017-05-31 18:42] #173 closed

[2017-05-31 18:42] ethanbao opened #207 "grpc_csharp_plugin is not found in artman docker image"

[2017-06-05 22:31] geigerj opened #212 "No configuration for LRO to generate only GAPIC, without proto"
### What

For Ruby LRO, we want artman to generate only the GAPIC files before it creates a PR to gax-ruby. https://github.com/googleapis/gax-ruby/pull/72/files is incorrect because it contains compiled proto classes as well. This does not appear to be possible with the GitHub publish via the existing configuration parameters, since for LRO the GAPIC and proto files live in the same directory. (Pl

[2017-06-07 20:20] eoogbe opened #214 "Getting "TypeError: must be unicode, not str" when running for python"
When running `artman --language python --api monitoring --publish noop` , I get
[code]
This is different from [the error I get from running with ruby or php](https://github.com/googleapis/artman/issues/215).

[2017-06-07 20:21] eoogbe opened #215 "Getting "OSError: [Errno 2] No such file or directory" when running for ruby"
When running `artman --language ruby --api monitoring --publish noop` , I get
[code]
Same happens when I run with `--publish=local` or `--lang=php`. When running with `--lang=python`, I get a [different error](https://github.com/googleapis/artman/issues/214).

[2017-06-07 23:05] geigerj commented on #215
@ethanbao @lukesneeringer Could one of you take a look?

[2017-06-09 16:36] lukesneeringer commented on #212
Even though the `paths` normally references directories, it _can_ reference files. If the number of files is small, that could be a solution.

In general, I like the fact that the `GapicClientPipeline` runs the `GrpcClientPipeline` also, since in essentially every other case, this is what you want. If using `paths` is not feasible, however, it would be reasonable to shift the pipelines around.

Es

[2017-06-09 16:37] lukesneeringer commented on #214
I will see about fixing this. For now, make a Python 3 virtualenv and run Artman there. (We have shifted most of our testing to Python 3.)

[2017-06-09 16:39] lukesneeringer commented on #215
Fairly certain this has to do with not having artman within `reporoot`, which in theory we should stop requiring. I will look into fixing this.

[2017-06-09 17:12] geigerj opened #219 "Consider encoding `paths` per-language"
### What

Currently the staging/publishing paths are configured in the artman config per-API x Lang. For most APIs, these are predictable, leading to some level of redundancy.

### How

Instead, we could considering configuring per-lang "path rules" that are automatically expanded per-API. We can allow per-API overrides for exceptional cases, e.g., LRO and non-primary API versions.

cc: @lukesneer

[2017-06-16 22:40] eoogbe commented on #215
Needed to install grpc-tools: `gem install grpc-tools --version '=1.0.0' --no-ri --no-rdoc`

[2017-06-16 22:40] #215 closed

[2017-06-19 19:26] ethanbao opened #223 "artman circle ci cannot test Dockerfile change"
When someone changes Dockerfile (e.g. change the commit hash of toolkit), current circle ci test won't build the artman image (but use the latest one from docker hub). The test might either fail or fail to catch the potential breaking changes of Dockerfile. Make circle ci build the image before the smoketest.

[2017-06-19 23:26] ethanbao opened #226 "Turn conductor into a python object"
By doing that the logging client can be instance variable not global variable.

[2017-07-06 00:43] pongad commented on #149
Resolved by #233

[2017-07-06 00:43] #149 closed

[2017-07-12 16:36] cramertj opened #236 "Broken Docs Link"
The documentation link in the README ([here](https://github.com/googleapis/artman#details)) is broken.

[2017-07-21 16:58] ethanbao opened #244 "Cleanup generated self-contained java package by removing unnecessary files"

[2017-07-26 18:40] lukesneeringer opened #245 "Node.js: Produce docs files"
The regular Node.js pipeline needs to produce the documentation files, and the googleapis artman configs need to put them in the right place (if necessary).

Reference: googlecloudplatform/google-cloud-node#2492

[2017-07-26 19:58] geigerj opened #246 "Investigate Ruby formatter"
### What

Ruby code should pass the Rubocop linter. Rubocop also provides a formatter. Investigate if we can hook this up to the Ruby codegen flow.

[2017-08-25 18:46] geigerj opened #260 "Consider raising exception on NodeJS gRPC pipeline"
### What

Consider raising an exception if GrpcClientPipeline is run for NodeJS. NodeJS doesn't generate a standalone gRPC client.

### Context

An Google-internal customer following attempted self-service generation gRPC clients for NodeJS and was confused when the pipeline resulted in no output.

[2017-09-13 14:05] lukesneeringer commented on #260
Why does our self-service instruct the creation of a gRPC client in any language other than Java? It is a superfluous step in the other six languages now.

[2017-09-13 14:06] lukesneeringer commented on #260
P. S. And even in Java, we should instruct the use of the flag that makes a single client, since most self-service use cases will be incompatible with pushing the gRPC packages to Maven.

[2017-09-13 14:06] lukesneeringer commented on #245
@eoogbe did this. Thanks @eoogbe!

[2017-09-13 14:06] #245 closed

[2017-09-13 14:07] lukesneeringer commented on #226
It is entirely fine (and probably even preferable) for a logger to be a module-scoped variable.

[2017-09-15 15:17] lukesneeringer opened #275 "artman2 modifies your googleapis directory in-place"
Running artman2 makes modifications to multiple YAML files in your googleapis directory and just leaves those modifications there.

Expected behavior: googleapis should be an input and should not be touched.

[2017-09-15 15:39] lukesneeringer opened #276 "No way to locally publish anymore."
The `artman2 --config={thing} publish --dry-run --target={lang} {lang}_gapic` idiom does not work.

If you run it with `--local` it seems to do nothing. If you run it without `--local`, it errors out because the GitHub credentials are not properly passed into the Docker image.

[2017-09-15 16:51] geigerj opened #277 "Fix Python style issues, add linting to CI"
Running `nox -e lint` shows dozens of Python style violations. The linter environment is not being run in travis, allowing these style violations to accumulate. We should fix the existing violations, then enable the linter in ~travis~ Circle.

[2017-09-15 17:06] geigerj opened #278 "artman2 assumes it is being run from googleapis directory"
### What

`artman2` seems to calculate paths to config assuming it is being run from the `googleapis` directory. It should calculate paths relative to the `--config` flag.

### Observed behavior

[code]

[2017-09-21 16:40] ethanbao commented on #277
Many lint warnings are currently introduced by main.py, which I am going to drop starting 0.5.*. I will add the linting to CI after that.

[2017-09-21 16:49] lukesneeringer commented on #277
I would actually prefer _not_ run pylint, but we should run flake8.

[2017-09-21 16:51] lukesneeringer commented on #278
Mostly fixed by #274.

There is a nitpick annoyance left where if you are running artman in Docker, it still dumps the _output_ to your googleapis directory.

[2017-09-21 16:51] #278 closed

[2017-09-26 05:36] olka commented on #236
It's still broken

[2017-09-26 21:40] geigerj opened #288 "Investigate custom Ruby namespace for protoc output"
### What

Many GAPIC langauges have either a proto option (e.g., `java_package`) or an artman task (e.g., [`PythonChangePackageTask`](https://github.com/googleapis/artman/blob/cc5f1dc3a13b9b31aeb8d5adcd84cd9dab95aaeb/artman/tasks/python_grpc_tasks.py#L29)) to control the namespacing of the protoc output files. Investigate adding something similar for Ruby.

### Context

https://github.com/GoogleCl

[2017-09-26 22:00] lukesneeringer opened #290 "artman2 0.4.18 does not work without --local right now."
It needs to set the working directory within Docker to googleapis.

[2017-09-26 22:43] ethanbao commented on #290
It would be helpful to give me an example command that used to work prior to this 0.4.18 release.

[2017-09-28 20:07] ethanbao commented on #290
The following command worked for me. Can you help double confirm?

artman2 --image googleapis/artman:0.4.18 --config google/pubsub/artman_pubsub.yaml generate java_gapic

[2017-10-12 22:59] geigerj opened #304 "root-dir flag does not error if unspecified"
### What

If the `root-dir` flag is neither specified on the command line nor found in the artman user config file, an error should be raised.

### Why

This is the intended behavior according to https://github.com/googleapis/artman/blob/8764b7994bbb1357ff7f1630bf2e2d7d569224ea/artman/cli/main.py#L145. If no error is raised, confusing errors may occur later in execution.

[2017-10-12 23:06] geigerj opened #305 "Improve user config usability"
### What

`arman` is looking for `googleapis/gapic/lang/doc.yaml` relative to my working directory instead of relative to the `root-dir`. This effectively makes the root-dir useless.

### Repro

I ran `artman` from two levels above my `googleapis` dir:

[code]

My root-dir is specified in `~/.artman/config.yaml`:

[code]

This fails with:

[code]

[2017-10-18 00:58] will-hart opened #307 "IOError: No such file or directory on Windows"
When running `artman` and `artman2`  on Windows with the following command:

    D:\Code\artman> artman --config googleapis/google/firestore/artman_firestore.yaml generate csharp_gapic

I get the following error:

    Traceback (most recent call last):
      File "c:\users\will\anaconda\Lib\runpy.py", line 174, in _run_module_as_main
        "__main__", fname, loader, pkg_name)
      File "c:\user

[2017-10-18 05:26] ethanbao commented on #307
Artman is intended to work on Windows, but some code currently is *nix specific. I am going to fix that.

[2017-10-31 19:28] geigerj opened #314 "File permissions issue if generation fails"
Prior to #313, `artman` failed mid-generation when running in Docker mode (`protoc` succeeded, but `toolkit` failed). The `artman-genfiles` output directory contained files owned by `root`, making them non-editable by the user. It should be investigated whether the file owner/permission change fails to happen if an exception occurs in the middle of generation, and if so, it should be fixed so that

[2017-11-01 18:11] #21 closed

[2017-11-01 18:12] ethanbao commented on #51
This is no longer required under new artman syntax.

[2017-11-01 18:12] #51 closed

[2017-11-01 18:16] ethanbao commented on #74
Became obsolete as we no longer promote such remote execution.

[2017-11-01 18:16] #74 closed

[2017-11-01 18:16] ethanbao commented on #79
Became obsolete as we no longer use the zookeeper based solution.

[2017-11-01 18:16] #79 closed

[2017-11-01 18:17] ethanbao commented on #80
Became obsolete as we no longer support such remote execution mode.

[2017-11-01 18:17] #80 closed

[2017-11-01 18:17] ethanbao commented on #91
Became obsolete as we no longer support such remote execution mode.

[2017-11-01 18:17] #91 closed

[2017-11-01 18:18] ethanbao commented on #111
The whole `skip_packman` has been deprecated in the new artman config syntax.

[2017-11-01 18:18] #111 closed

[2017-11-01 18:18] ethanbao commented on #104
Became obsolete as we no longer use the zookeeper based remote execution.

[2017-11-01 18:18] #104 closed

[2017-11-01 18:19] ethanbao commented on #119
We now have smoketest to capture this.

[2017-11-01 18:19] #119 closed

[2017-11-01 18:19] ethanbao commented on #109
Obsolete

[2017-11-01 18:19] #109 closed

[2017-11-01 18:19] ethanbao commented on #148
Implemented in the new artman config schema.

[2017-11-01 18:19] #148 closed

[2017-11-01 18:20] ethanbao commented on #121
@landrito, is this still a problem? If not, please close this issue.

[2017-11-01 18:21] ethanbao commented on #103
Should have been upgraded. Please reopen if still seeing this problem.

[2017-11-01 18:21] #103 closed

[2017-11-01 18:23] landrito commented on #121
@geigerj I don't remember what this issue was about maybe you do?

[2017-11-01 18:23] ethanbao commented on #175
I am not sure whether this issue has been addressed in the new artman config schema, in which one can define common config and artifact-specific (almost equivalent to language-specific) config. Can you confirm, Jacob?

[2017-11-01 18:23] ethanbao commented on #175
@geigerj

[2017-11-01 18:24] ethanbao commented on #176
Done.

[2017-11-01 18:24] #176 closed

[2017-11-01 18:24] ethanbao commented on #188
No longer seeing this issue, please reopen if you run into this again.

[2017-11-01 18:24] #188 closed

[2017-11-01 18:28] geigerj commented on #121
It was a super minor issue where a comment at the top of the `_pb2` files referenced a path to the source proto they were generated from, but because artman manipulates the proto files for Python, that path didn't actually exist. My guess, unless `PythonChangePackageTask` has changed, is that this is still happens but we probably don't actually care because I'd be surprised if anyone is reading th

[2017-11-01 18:28] geigerj commented on #121
Unassigning -- this sort of low-priority but is more appropriate for a fixit.

[2017-11-01 18:31] geigerj commented on #175
Agreed.

[2017-11-01 18:31] #175 closed

[2017-11-01 18:32] ethanbao commented on #214
Close this as we no longer seeing this.

[2017-11-01 18:36] ethanbao commented on #275
In theory, artman will only modify GAPIC yaml when someone run `artman ... generate gapic_config`. With GAPIC config advisor in-place, such overriding is not going to wipeout existing configs and their comments, but adding new ones (which are required in order for library to generate). With that, such in-place modification to gapic yaml is intended and desired. Thoughts, @lukesneeringer ?

[2017-11-01 18:36] ethanbao commented on #207
Fixed.

[2017-11-01 18:36] #207 closed

[2017-11-01 18:37] ethanbao commented on #223
Fixed. build_and_push_docker_image task in artman circleci project will build the docker image and run the tests.

[2017-11-01 18:37] #223 closed

[2017-11-01 18:40] ethanbao commented on #178
Fixed.

[2017-11-01 18:40] #178 closed

[2017-11-01 18:54] ethanbao commented on #219
@geigerj, is this issue addressed by the new artman config schema?

[2017-11-01 18:54] ethanbao commented on #212
The new GAPIC_ONLY artifact type will only generate GAPIC layer.

[2017-11-01 18:54] #212 closed

[2017-11-01 18:57] geigerj commented on #219
@ethanbao I don't think so, but I'm no longer sure this is a good idea. Closing as obsolete.

[2017-11-01 18:57] #219 closed

[2017-11-01 18:59] ethanbao commented on #226
Per Luke's comment, the current implementation is even preferable. Mark this feature as won't fix.

[2017-11-01 18:59] #226 closed

[2017-11-01 18:59] ethanbao commented on #60
gen-api-package is provided by packman which is no longer used in artman. Close this bug as obsolete.

[2017-11-01 19:00] #60 closed

[2017-11-01 19:01] ethanbao commented on #290
@lukesneeringer Luke, do you recall how to reproduce this issue?

[2017-11-01 19:11] ethanbao commented on #163
We no longer support such remote execution mode. Mark it as obsolete.

[2017-11-01 19:11] #163 closed

[2017-11-01 20:51] ethanbao commented on #275
I guess you were not running into this when generating gapic config. I tried to reproduce the issue by cloning googleapis repo and then running the following command under the googleapis directory:

    artman --config google/pubsub/artman_pubsub.yaml generate python_gapic

I don't see any file being modified. Could you provide a way to repro?

[2017-11-01 20:56] ethanbao commented on #305
Due to legacy reason, the field name in artman user config is not `root-dir` but `googleapis`. Could you please confirm whether it will work after you change your local user config?

Once you confirm that I will add changes to support `root-dir` in artman user config which will override `goolgeapis` if the former is specified.

[2017-11-01 21:09] geigerj commented on #305
Still doesn't work.

.artman/config.yaml:
[code]

I ran:
[code]

[2017-11-01 21:26] ethanbao commented on #305
Another refactoring to user-config would be needed. Under current implementation (https://github.com/googleapis/artman/blob/master/artman/cli/support.py#L88), you will have to specify the toolkit or googleapis under local_paths config, like below:

    local_paths:
      googleapis: /foo/bar/googleapis

Could you give that a try?

[2017-11-01 21:30] ethanbao commented on #166
Victor, do you mind to share the steps to repro the problem? Or can you just copy and paste your ~/.artman/config.yml?

Note: toolkit and googleapis are defined not at top level but under 'local_paths' under current implementation. For example:

    local_paths:
      toolkit: /foo/bar/toolkit

[2017-11-01 21:33] ethanbao commented on #290
I cloned the latest googleapis/googleapis repo and run the following command with latest artman version (0.5.1) in the local directory:

    artman --config google/pubsub/artman_pubsub.yaml generate python_gapic

I didn't run into any issue with library generation. Note: without --local, the real execution happens in docker.

[2017-11-01 21:59] ethanbao commented on #305
Thanks for confirming that. I will turn artman user config into a protobuf so that we can do the validation and documentation easier.

[2017-11-01 21:59] geigerj commented on #305
It would be great to have documentation (and maybe validation) for the user config. Additionally, better error messages might be helpful; for example, if a path is not found, the tool could hint to check the `local_paths` section of the user config. We should also rename "googleapis" to "root-dir" for consistence.

[2017-11-01 22:33] ethanbao commented on #304
This is related to a bug you filed earlier. We have the error raising in main.py. However, due to current implementation (https://github.com/googleapis/artman/blob/master/artman/cli/support.py#L84), artman will always receive a root-dir/googleapis. This requires a redesign of artman user config by making it clear what part of the configuration can be done in artman user config.

[2017-11-01 22:41] ethanbao commented on #305
All points accepted.

[2017-11-02 16:37] ethanbao commented on #290
Downgrade to P2 as it is not reproducible.

[2017-11-02 16:43] ethanbao commented on #260
Fix by https://github.com/googleapis/artman/pull/319

[2017-11-02 16:43] #260 closed

[2017-11-02 17:32] andreamlin opened #321 "proto is already defined error"
I'm trying to generate the gapic for bigtable, so I ran
[code]
but it fails with
[code]

This is being run in the latest Docker image.

If I remove the *.proto files from the googleapis/ directory, then artman does successfully generate the gapic/protos/grpc files.

[2017-11-02 17:38] ethanbao commented on #321
I saw the issue in both googleapis/artman:0.5.1 image and artman:0.5.0 image (using the --image flag like below). Can you check the proto definition?

    artman --image googleapis/artman:0.5.0 --config google/bigtable/admin/artman_bigtable_admin.yaml --verbose  generate java_gapic

[2017-11-02 17:44] ethanbao commented on #321
I actually cannot repro the error you saw, below is what I got. Can you confirm that you don't have local changes to bigtable IDL including yamls and protos.

bigtable_table_admin.proto: warning: Import google/protobuf/duration.proto but not used.
bigtable_table_admin.proto: warning: Import google/protobuf/timestamp.proto but not used.
bigtable_table_admin.proto: warning: Import google/longrunning

[2017-11-02 18:43] andreamlin commented on #321
I did have to remove at least 3 proto files, two of which were data.proto and common.proto, so yes I did get your error at some point after removing just data.proto.

This is a fresh clone of googleapis.

[2017-11-02 19:48] ethanbao commented on #321
The error is thrown by protoc when compiling protos and the proto files are hosted in googleapis repo. Below is the protoc command that artman executs:

    protoc --proto_path=/googleapis --proto_path=/usr/local/google/home/cbao/GitRepo/googleapis/google/bigtable/admin/v2 --proto_path=/root/.gradle/caches/modules-2/files-2.1/com.google.protobuf/protobuf-java/3.4.0/b32aba0cbe737a4ca953f71688725972

[2017-11-02 19:49] ethanbao commented on #314
Fixed in https://github.com/googleapis/artman/pull/322

[2017-11-02 19:49] #314 closed

[2017-11-02 20:34] andreamlin commented on #321
I'm guessing that it's compiling `common.proto` that's located in the `--proto_path=/usr/local/google/home/cbao/GitRepo/googleapis/google/bigtable/admin/v2` directory along with the later parameter `/usr/local/google/home/cbao/GitRepo/googleapis/google/bigtable/admin/v2/common.proto`.

Don't artman users generally compile protos with the proto files in the googleapis repo? How can I get around thi

[2017-11-02 21:09] ethanbao commented on #321
The flag and arg don't conflict syntax-wise. The first specify the location where the proto lives (which could contain much more protos), the second arg is to specify the proto files that should be compiled into proto descriptor.

I tried to build pubsub java and below is the protoc part. Note: pubsub java_gapic generation is working.

    protoc --proto_path=/googleapis --proto_path=/googleapis/g

[2017-11-03 18:40] ethanbao commented on #321
https://github.com/googleapis/artman/pull/323 has been merged to fix this issue. It is still pending on a release of artman, which shall be done within one hour.

[2017-11-03 19:54] ethanbao commented on #321
googleapis-artman 0.5.2 is released to PyPI. I confirmed the command worked on my dev machine now.

Please re-open if the new version still doesn't work for you.

[2017-11-03 19:54] #321 closed

[2017-11-06 18:57] lukesneeringer commented on #275
I do not remember what was going on here. Closing.

[2017-11-06 18:57] #275 closed

[2017-11-06 18:58] lukesneeringer commented on #290
I am pretty sure (confidence: 95%) this is the issue Alex Fenster ran into last week. If you fixed it for him, then you can close this.

[2017-11-06 19:19] ethanbao commented on #290
Thanks for confirming. Close this bug for now. Feel free to reopen if this problem comes up again.

[2017-11-06 19:19] #290 closed

[2017-11-06 19:20] eoogbe commented on #214
Saw this today

[2017-11-06 23:57] michaelbausor opened #325 "Index out of range error when generating PHP core"
Got Index out of range error when generating using Docker image. Problem is on this line:
https://github.com/googleapis/artman/blob/b6dc10dc7293d5874134640213f8bc44c5fc7551/artman/cli/main.py#L514

cc @ethanbao

Command: `artman2 --config google/artman_core.yaml generate php_grpc`

Error:
[code]

[2017-11-07 18:55] michaelbausor opened #326 "PHP move task fails when destination exists"
This occurs only when generating artman_core, because gapic_code_dir is defined, but the code to clean the gapic_code_dir directory is not run.

See here: https://github.com/googleapis/artman/blob/master/artman/config/converter.py#L82 and here: https://github.com/googleapis/artman/blob/master/artman/tasks/protoc_tasks.py#L258

[2017-11-07 20:02] michaelbausor opened #328 "Artman debug cmd string should set --local"
When constructing debug_cmd here (https://github.com/googleapis/artman/blob/c9c95b578551e2aa19584a5215fa7408d48118af/artman/cli/main.py#L468) we should set the `--local` flag if it is not already set. Otherwise, the artman command running in the Docker image will also try to use Docker, resulting in this error:

`artman> Docker not found on path or is not installed. Refert to https://docs.docker.c

[2017-11-07 20:26] #328 closed

[2017-11-08 17:28] #325 closed

[2017-11-15 23:59] ethanbao commented on #214
@lukesneeringer What is the best practice to fix the issue like this?

[2017-11-16 22:36] neozwu opened #338 "artman should include metadata to its generated packages"
Artman uses other tools to generate client libraries. It would be nice if artman could attach the metadata regarding the versions of the tools used (or commit of a GH repo the tool is built upon). This could be in the form of comments in source code or some sort of metadata file in a released package.  This metadata would be very helpful when comparing/understanding the diffs of two client librari

[2017-11-21 18:13] ethanbao commented on #276
Fixed by https://github.com/googleapis/artman/pull/327

[2017-11-21 18:13] #276 closed

[2017-11-22 23:32] geigerj opened #343 "Ruby gapic_code_dir is wrong for multiword API titles"
### What

Multiword API titles are dash-separated in the artman config (e.g., `video-intelligence`) but should be underscore separated in the Ruby output directory (e.g., `google-cloud-video_intelligence`). Current behavior preserves the dash-separation in `gapic_code_dir` (`google-cloud-video-intelligence`).

[2017-11-22 23:52] #343 closed

[2017-12-15 21:44] geigerj opened #350 "--root-dir flag parsed incorrectly"
### What

Artman seems to parse the `--root-dir` flag incorrectly.

### Repro

[code]

[2017-12-17 02:32] jhspaybar opened #351 "proto files not included in java jars"
As best I can tell, this is where com.google.api.grpc:proto-google-common-protos from.  If not, please redirect me.  I also opened an issue over at grpc-java here https://github.com/grpc/grpc-java/issues/3873 as well.  It appears between version 0.1.6 of 0.1.9(and since then) the proto files are no longer published in the jar published to maven central.  This means that proto files expecting to im

[2017-12-22 22:11] lukesneeringer commented on #236
Fixed by #355.

[2017-12-22 22:11] #236 closed

[2018-01-02 20:18] ethanbao commented on #214
Luke, can you advise a solution?

[2018-01-02 20:19] ethanbao commented on #166
Victor, can you confirm whether it works using the sample config I gave above?

[2018-01-02 21:43] ethanbao commented on #350
It is `--root-dir` instead of `--repo-dir`, though another problem exists after you use `--root-dir`.

[2018-01-08 19:43] vchudnov-g opened #365 "Can't find generated files after "publish --dry-run""
When I use `publish --dry-run`, I can't see the generated output anywhere locally. I would expect to be able to see it locally, either in the location used by the `generate` command or as a commit in the local clone of the repository specified in my publish target.

Details:

I ran `artman ... publish --dry-run --target staging go_gapic` (with the staging target specifying a github repo). The artm

[2018-01-09 19:16] ethanbao opened #368 "Standardize the artman exit codes"
Currently, it return 32/64/96 for no clear reason/definition.

[2018-01-09 19:35] ethanbao commented on #350
The other issue was fixed in https://github.com/googleapis/artman/pull/363

[2018-01-09 19:35] #350 closed

[2018-01-09 19:35] ethanbao commented on #351
@garrettjonesgoogle, I believe this is an intended change. Can you confirm?

[2018-01-09 21:05] garrettjonesgoogle commented on #351
I took a look and I see that 0.1.9 is the first version missing the protos from grpc-google-common-protos; this was the same point in time that proto-google-common-protos was introduced. Basically, the proto-generated model classes went to the proto- package and the grpc-generated stubs stayed in the grpc- package; somehow, the raw protos themselves were dropped completely and don't appear in eith

[2018-01-09 21:42] ethanbao commented on #351
Thank you, Garrett. Shall we keep this github issue to track this or you prefer the one created under grpc/grpc-java, or maybe create a new one under GoogleCloudPlatform/google-cloud-java?

[2018-01-09 21:50] lukesneeringer commented on #368
I used exit code 64 to be a CLI usage error, in accordance with `sysexits.h`. (This is far from a universal standard, but seemed like a good idea at the time.)

I do not much care what the exit codes are but I _do_ care that the various exit codes are distinct, because ultimate users might have a reason to detect and allow particular non-zero exit codes in some edge case situations.

[2018-01-09 22:36] garrettjonesgoogle commented on #351
GRPC isn't really the right place since we own the infrastructure that does this. For candidate repos for the issue, I would say googleapis/artman or googleapis/toolkit.

[2018-01-09 22:58] jhspaybar commented on #351
Thank you for taking a look. I look forward to seeing these packaged again!

[2018-01-11 00:05] geigerj opened #374 "Confusing behavior when using alternative googleapis dir"
### What

When `artman` is used in a root directory other than the `googleapis` directory configured in the artman user config, the behavior is confusing; artman ignores the working directory and resolves the input and output paths relative to the `googleapis` directory specified in the user config.

### Repro

.artman/config.yaml:

[code]

Commands:
[code]

### Workaround

Specify the `root-dir`

[2018-01-11 18:38] ethanbao opened #376 "artman smoketest reports were not uploaded to circleci artifacts when test failed."

[2018-01-12 22:48] ethanbao opened #379 "Artman docker image should work without network access"

[2018-01-23 00:17] ethanbao commented on #376
Fixed by https://github.com/googleapis/artman/pull/377

[2018-01-23 00:17] #376 closed

[2018-01-23 00:19] ethanbao commented on #365
There was once a bug that the toolkit is returning zero status code even if the generation fails. That bug was recently fixed. Can you retry and see whether you are seeing an error instead of a success without output?

[2018-01-23 00:23] ethanbao commented on #166
ping @vchudnov-g

[2018-01-25 07:50] jhspaybar commented on #351
Any updates if/where these might be getting published again?

[2018-01-25 19:23] garrettjonesgoogle commented on #351
We have made the code fix, but we don't have a schedule yet for publishing the update.

[2018-02-05 17:37] ethanbao commented on #365
Please reopen if you see this problem again with artman version 0.6.0 and above.

[2018-02-05 17:37] #365 closed

[2018-02-05 23:12] garrettjonesgoogle commented on #351
This has been released - version 1.0.5.

[2018-02-05 23:12] #351 closed

[2018-02-20 17:41] ethanbao commented on #185
Doesn't seem to be necessary. Close it as obsolete.

[2018-02-20 17:41] #185 closed

[2018-02-22 00:13] ethanbao commented on #305
Fixed by https://github.com/googleapis/artman/pull/389

[2018-02-22 00:13] #305 closed

[2018-02-22 00:14] ethanbao commented on #374
Fixed by https://github.com/googleapis/artman/pull/389

[2018-02-22 00:14] #374 closed

[2018-03-08 21:12] landrito commented on #288
Also note that this should affect the namespace that the grpc generated code is generated to.

[2018-04-26 17:31] andreamlin opened #414 "Fix generation of some artifacts"
artman fails to generate a small subset of artifacts, and this causes the googleapis/googleapis build to fail.

See https://circleci.com/gh/googleapis/googleapis/1130 for sample failure log:
[code]

[2018-05-23 21:24] garrettjonesgoogle opened #420 "Figure out why baselines aren't used in unit tests"
Deleting the baselines from https://github.com/googleapis/artman/tree/master/test/testdata (with the exception of `google-cloud-fake-v1_package.yaml`) doesn't cause any tests to fail. I have verified this is true all the way back to commit https://github.com/googleapis/artman/commit/0995314b8003173db52dd156e349c6136c8fa04a (from 18 Apr, 2017). I'd like to figure out if this was intentional or acci

[2018-05-23 22:08] lukesneeringer commented on #420
This was accidental but I assert it is desirable.
When I did the refactor, I moved this conceptually into tests [like this one](https://github.com/googleapis/artman/blob/master/test/tasks/test_gapic.py#L28-L57). This conceptually does something similar, but usually for subsets of the entire thing.

I propose the fix should just be to delete the extraneous files, which are almost certainly a year o

[2018-05-23 22:54] #420 closed

[2018-05-23 23:14] garrettjonesgoogle opened #422 "Write an artman release playbook"

[2018-05-31 18:49] pongad opened #427 "go: stop generating grpc- directory"
The files we are already in gapi- directory.

[2018-06-07 23:21] jbolinger commented on #288
The `ruby_package` was added in protoc. (https://github.com/google/protobuf/pull/4609 https://github.com/google/protobuf/pull/4627)

Closing since changes to artman are no longer required.

[2018-06-07 23:21] #288 closed

[2018-06-11 17:05] crwilcox opened #432 "Colorlog pinned to <3.0.0"
Colorlog is up to 3.1.4 but artman is pinning to 3.0.0. Is this necessary?

error: colorlog 3.1.4 is installed but colorlog<3.0.0,>=2.6.1 is required by {'googleapis-artman'}

[2018-06-13 23:07] eoogbe opened #435 "Src protos not copied when multiple directories specified"
In Python generation, only the protos from the `src_proto_paths` field of the artman config that live in the same directory as the services gets copied to the destination folder.

[`self.exec_command(['mv', os.path.join(src, 'proto'), target])`](https://github.com/googleapis/artman/blob/master/artman/tasks/python_grpc_tasks.py#L202)  ignores protos outside of the ones contained in the service dire

[2018-06-21 22:15] warhammerkid opened #440 "proto files not included in ruby gem"
Similar to to googleapis/artman#351, it would be helpful if the googleapis-common-protos-types ruby gem included the proto files in addition to the code generated ruby definitions. As it is currently, compiling proto files using the `google.api.http` option requires vendoring a copy of the googleapis/googleapis repo into the project.

From a usage perspective I was envisioning being able to do som

[2018-06-26 21:03] tswast commented on #435
@lukesneeringer Any word on this? It's blocking some BigQuery-related library releases.

[2018-06-28 16:53] tswast commented on #435
P2 does not seem right as this is blocking API generation for some of the products I work on.

[2018-06-28 19:04] andreamlin opened #445 "artman fails to generate java_grpc for google-common-protos"
Running the command
[code]

Results in the following output:

[code]

The current workaround is the ctrl-c the process before gapic-generator is invoked; this ensures that artman's generated descriptor set is created but doesn't get erased. Then, run the gapic-generator GeneratorMain class with the `LEGACY_GRPC_PACKAGE` target and the same param values for `--descriptor_set`, `--input`, `--package

[2018-06-29 18:17] lukesneeringer commented on #435
Okay, I looked into this more today.
There are several issues here and digging through all of them will be difficult.

However, for this particular API, I assert you should just comment out the `v3/` protos on lines 9 and 10 in the artman YAML. This is not a workaround; I assert they actually should not be there and their presence is a misconfiguration.

I have tested that and established that it

[2018-07-16 15:52] jadekler opened #469 "artman fails to generate go gapics"
`googleapis-artman-0.14.0`

[code]

[2018-07-16 16:02] garrettjonesgoogle commented on #469
This looks like @andreamlin 's change in https://github.com/googleapis/artman/pull/462 to regenerate from user_config.proto

[2018-07-16 16:30] lukesneeringer commented on #469
@jadekler If you update `protobuf` in your virtualenv to 3.6.0, it should fix it.

Filed #470 to fix it for everyone.

[2018-07-16 18:15] alexander-fenster commented on #469
OK how did this pass smoke tests then?

[2018-07-16 18:16] alexander-fenster commented on #469
Or did it just fetch the latest protobuf when it was installed in CI and pass because of that?

[2018-07-16 18:59] #469 closed

[2018-07-16 22:38] alexander-fenster commented on #469
@jadekler I have just released v0.14.1 with the fix from @lukesneeringer. Please check it and let us know if it works for you.

[2018-07-16 22:42] jadekler commented on #469
Thank you! It works for me.

[2018-07-26 16:56] andreamlin opened #478 "remove gapic_config@artman_bigtableadmin.yaml from smoketest whitelist"
https://github.com/googleapis/gapic-generator/pull/2169
fixes that artman call, so we can remove it from the white list in smoketest_artman.py

[2018-07-26 20:54] alexander-fenster opened #479 "smoke tests are failing"
#475 broke smoke tests, three invocations fail:

[code]

All three fail with the following in the log (available as CircleCI build artifact [here](https://7515-55101236-gh.circle-artifacts.com/0/tmp/smoketest.log)):

[code]

This is blocking automated releases. Can I ask you to take a look and fix, or reassign as appropriate?

Thanks!

[2018-07-26 21:41] garrettjonesgoogle commented on #479
`java_gapic` in artman_datastore_admin.yaml should not be `GAPIC_ONLY`. I am pushing an internal CL to switch it to `GAPIC`.

[2018-07-26 21:43] garrettjonesgoogle commented on #479
https://github.com/googleapis/gapic-generator/pull/2169 in gapic-generator needs to be pulled in to fix the `gapic_config` artifact of artman_monitoring.yaml.

[2018-07-26 21:50] alexander-fenster commented on #479
OK so I'll update hashes for gapic-generator and googleapis and it might fix these two. What about `artman_longrunning.yaml`?

[2018-07-26 21:51] garrettjonesgoogle commented on #479
That is fixed in https://github.com/googleapis/artman/pull/480

[2018-07-26 22:12] #479 closed

[2018-07-31 17:16] andreamlin commented on #445
Setting as P2 because google-common-protos isn't generated that often, and there is a workaround.

[2018-08-01 21:47] garrettjonesgoogle commented on #445
I ran this locally for myself, and it didn't fail...

[2018-08-02 21:53] alexander-fenster opened #483 "python and ruby generation of artman_containeranalysis_v1beta1 fails"
The recent [addition](https://github.com/googleapis/googleapis/compare/201d7be7f9da...8dfde277c731) of [artman_containeranalysis_v1beta1.yaml](https://github.com/googleapis/googleapis/blob/master/google/devtools/containeranalysis/artman_containeranalysis_v1beta1.yaml) breaks googleapis CI ([failure](https://circleci.com/gh/googleapis/googleapis/1316)): Python and Ruby generation fails.

[code]

It

[2018-08-02 21:55] alexander-fenster commented on #483
I can reproduce the Python failure locally, but I don't really understand for now which file it cannot find.

[code]

[2018-08-02 22:42] jbolinger commented on #483
I think this is failing because the proto service has a version suffix. In the v1beta1 proto file it is defined as:

[code]

In the v1apha1 proto file it is defined as:

[code]

I suspect that the service should not have a version suffix on it?

[2018-08-03 16:31] vtsao commented on #483
We need the suffix to serve both versions of the API from the same binary.

[2018-08-03 17:14] jbolinger commented on #483
Sure, but does the service name need the suffix to enable that? Can't it just be in the package name?

[2018-08-03 17:41] vtsao commented on #483
Having two services named the same but different packages doesn't work with ESF so we had to do this suffix.

[2018-08-03 18:48] jbolinger commented on #483
The Ruby generator doesn't currently support that. I've opened an issue for it here: https://github.com/googleapis/gapic-generator/issues/2192.

Are you concerned about the names in the libraries as a result? I just generated the Java library to see what this would look like and classes like `com.google.cloud.devtools.containeranalysis.v1beta1.ContainerAnalysisV1Beta1Client` look a bit odd to me.

[2018-08-03 21:46] andreamlin commented on #483
Whenever this gets fixed, would someone mind removing the no-longer-failing configs from the smoketest file? i.e. revert https://github.com/googleapis/artman/pull/484

[2018-08-03 22:03] lukesneeringer commented on #483
People do this all the time.

[2018-08-03 22:04] lukesneeringer commented on #483
Incidentally, I am looking into fixing this in Python. Regardless of whether it is advisable, it should not crash our infra. :-)

[2018-08-06 18:00] andreamlin commented on #445
It works for me locally now too.

[2018-08-06 18:00] #445 closed

[2018-08-17 18:40] jadekler opened #489 "artman fails to parse containeranalysis"
When I try to run artman against `google/devtools/containeranalysis/artman_containeranalysis_v1beta1.yaml`, I get:

[code]

Expanded error:

[code]

[2018-08-17 20:39] alexander-fenster commented on #489
Is it a dup of #483?

[2018-08-17 20:42] jbolinger commented on #489
I doubt it, I think it just needs to be `BETA` instead of `beta`.

[2018-08-17 23:11] jadekler commented on #489
Thanks!

[2018-08-17 23:11] #489 closed

[2018-09-04 20:35] ethanbao opened #493 "python grpc task doesn't accept version like "v1eap""
I think it is due to code at https://github.com/googleapis/artman/blob/fbde0386d7ebc697410ddf3c431549df10b00682/artman/tasks/python_grpc_tasks.py#L134

[2018-09-28 12:26] realityone opened #507 "Installation is failed with `pipsi`"
Hi,

I'm trying to install artman with `pipsi`.
I clone the code and run `pipsi install .` within directory. But failed with these logs:

[code]

After digging into the `setup.py` file, I found we should remove the

[code]

line, otherwise `pipsi` will failed to parse requirements.

Is this add by mistake or this is by designed.

Any help will be appreciated.

[2018-09-28 20:33] beccasaurus opened #508 "Add option to pass --flags to gapic-generator"
The task for generating GAPIC wrappers passes many arguments to `gapic-generator`

Snippet from gapic_tasks.py ([whole task](https://github.com/googleapis/artman/blob/8662dfe9eaadc8e2ef497f5647ca84d37cc33b89/artman/tasks/gapic_tasks.py#L99-L134))
[code]

`gapic-generator` has various other useful flags for further configuring the GAPIC wrappers. For example, there are some feature flags for enabli

[2018-09-28 21:00] vchudnov-g commented on #508
I was going to do this for a specific flag, but you're right that passing an arbitrary list of args through makes sense.

[2018-09-28 22:18] jadekler opened #511 "pip install artman fails"
[code]

[2018-09-28 22:19] jadekler commented on #511
Ditto 0.15.6. Works fine for 0.15.5.

[2018-09-28 22:27] alexander-fenster commented on #511
Taken care of in #509 and now releasing 0.15.8 in #510.

[2018-09-28 22:27] #511 closed

[2018-09-29 01:33] alexander-fenster commented on #507
Hello @realityone,

You're right, looks like `pipsi install .` is broken. I'm fixing it in #512 and will release the new version when it's merged. Until then, you can just remove that `print` from `setup.py`.

Thanks!

[2018-09-29 01:36] alexander-fenster commented on #422
Closing since the releases are automated in CircleCI. To release a new version, just update the version number in `Dockerfile` and draft a new release on GitHub using `vX.Y.Z` as a tag.

[2018-09-29 01:36] #422 closed

[2018-09-29 04:32] #507 closed

[2018-10-05 21:54] beccasaurus commented on #508
Recommendation: use `--`

When I wanted to pass arguments to `gapic-generator` from `artman`, the very first thing I tried was:

[code]

[2018-10-08 15:33] lukesneeringer commented on #483
Update on this: It works in gapic-generator-python. I have no idea why it does not work in gapic-generator though.

[2018-10-19 04:35] hzyi-google opened #518 "Generating python gapic for iamcredentials fails"
Command:

`
subprocess.CalledProcessError: Command '['docker', 'run', '--name', 'artman-docker', '--rm', '-i', '-e', 'HOST_USER_ID=545121', '-e', 'HOST_GROUP_ID=89939', '-e', 'RUNNING_IN_ARTMAN_DOCKER=True', '-v', '/Users/crwilcox/.cache/synthtool/googleapis:/Users/crwilcox/.cache/synthtool/googleapis', '-v', '/Users/crwilcox/.cache/synthtool/googleapis/artman-genfiles:/Users/crwilcox/.cache/synth

[2018-10-19 18:19] hzyi-google commented on #518
I think I found the issue. `iamcredentials` is in the common-protos so the generated protos would not be put in a directory named `proto` as per [here](https://github.com/googleapis/artman/blob/d33d2d5c9b7d7d4b5024924cf80b17770d86cc03/artman/tasks/python_grpc_tasks.py#L116). Therefore the error is raised [here](https://github.com/googleapis/artman/blob/d33d2d5c9b7d7d4b5024924cf80b17770d86cc03/artm

[2018-10-29 15:33] jadekler opened #520 "Artman fails on cloudtasks"
[code]

[2018-10-29 16:23] alexander-fenster commented on #520
FYI: it works in CI. https://circleci.com/gh/googleapis/googleapis/1399

![image](https://user-images.githubusercontent.com/4015807/47664423-3f48a600-db5c-11e8-8523-e9bf04c00604.png)

I will try reproducing locally.

[2018-10-29 16:56] alexander-fenster commented on #520
As discussed - looks like it was caused by local misconfiguration since running `configure-artman` helped. Closing the issue.

[2018-10-29 16:56] #520 closed

[2018-11-07 19:12] vchudnov-g commented on #435
@lukesneeringer Update?

[2018-11-07 19:13] vchudnov-g commented on #414
@andreamlin Is this still an issue?

[2018-11-07 19:14] vchudnov-g commented on #326
@michaelbausor Still an issue?

[2018-11-07 19:15] vchudnov-g commented on #307
@lukesneeringer Update? (It's OK to deprioritize this given the upcoming move away from artman)

[2018-11-07 19:16] vchudnov-g commented on #214
@lukesneeringer Update?

[2018-11-07 19:17] vchudnov-g commented on #121
Closing given the low priority and the upcoming move away from artman

[2018-11-07 19:17] #121 closed

[2018-11-12 22:09] michaelbausor commented on #326
No, we can close this

[2018-11-12 22:09] #326 closed

[2018-11-15 23:38] #518 closed

[2018-11-16 00:44] andreamlin opened #526 "Shard the smoke tests in CircleCI"
Waiting an hour is so long...

See https://circleci.com/gh/googleapis/artman/8385 for example run.

[2018-11-16 00:53] andreamlin commented on #414
oh, well there's a white list now, so that can track the existing set of known failures.

[2018-11-16 00:53] #414 closed

[2018-11-19 22:06] noahdietz commented on #435
@lukesneeringer any update here? Thanks.

[2018-11-20 18:18] lukesneeringer commented on #435
@tswast Are you able to generate the API now?

[2018-11-20 18:47] tswast commented on #435
Yes, but that's because the API moved into a single directory in preparation for beta.

[2018-11-20 18:48] tswast commented on #435
Unless it's blocking someone else, we can drop back to P2 probably.

[2018-11-26 21:33] jadekler opened #533 "Update the generator to use the standard Go notation for marking generated files"
See: https://golang.org/s/generatedcode

Related: https://github.com/googleapis/google-api-go-client/issues/313

[2018-11-26 22:49] jadekler commented on #533
Unfortunately I don't have the necessary powers to do so :( This is probably a P2-ish, though.

[2018-11-28 13:34] jadekler opened #534 "Beta APIs should be marked beta, not alpha"
See: https://godoc.org/cloud.google.com/go/cloudtasks/apiv2beta3, which has a note `NOTE: This package is in alpha.`.

This ends up being important, because our narrative for whether customers should use a package includes considerations about whether it's alpha or beta.

[2018-11-28 19:32] #533 closed

[2018-11-28 20:47] andreamlin commented on #534
@jadekler Would you mind providing an example or two in the wild?

[2018-11-28 21:00] jadekler commented on #534
@andreamlin PTAL the one linked above :) https://godoc.org/cloud.google.com/go/cloudtasks/apiv2beta3

Lmk if you'd like another and I can see if I can dig one up!

[2018-11-28 21:20] andreamlin commented on #534
@jadekler ahh I was so used to seeing clients on github I didn't realize that that was a generated Go client.

For the Go generated docs, the release level comes from the language settings in the gapic yaml.
See https://github.com/googleapis/gapic-generator/pull/2460 for an example for how to set the `release_level` config and the resulting change in the generated doc.

If a gapic config doesn't s

[2018-11-28 22:04] jadekler commented on #534
@andreamlin Could that be made a required field? (or is that outside y'alls control?)

Alternatively, can the fallback be to look for alpha|beta in the path?

[2018-11-28 22:31] andreamlin commented on #534
We could make it a required field, though that enforcing that would probably break most APIs for some of their languages, since not every language x API combo has the release version specified. I do agree that enforcing release version per client would be most ideal.

re falling back: I think the issue is that the API version is an upper bound for the client version, so an API can be GA or Beta wh

[2018-11-28 22:32] andreamlin commented on #534
@michaelbausor can you sanity check me on this?

[2018-11-28 22:40] jadekler commented on #534
@andreamlin Could we make it a required field in the same CL as adding that field to all protos?

Also, I _believe_ all gapics are of the form `apivXalphaY`, `apivXbetaY`, and `apivX`, so I think we should be able to infer alpha/beta? I might be missing something though!

[2018-11-28 22:52] michaelbausor commented on #534
@andreamlin is right re the generator not having enough context. There may exist an alpha client library for a vX or vXbetaY service, because it is a new client library / doesn't have samples etc. And we *definitely* do not want the generator to accidentally describe the client library as having greater stability than it actually does.

Re making it required - it could be done in one big CL. I'm n

[2018-11-28 23:15] jadekler commented on #534
Right, I had only intended for it to guess at alpha|beta, not stable.

Btw - I'm willing to help make that universal-required-field-set change happen if y'all can give me a hand on making it required?

[2018-11-28 23:50] andreamlin commented on #534
I think it wouldn't be too hard to make it required. The check would most easily be enforced when generating the Go client, and that should only be a couple lines.

If that's an ok place to enforce the versioning for Go clients specifically, then sure I can help out there.

[2018-11-29 01:06] jadekler commented on #534
SG - sent you a calendar invite.

[2018-12-04 23:51] jadekler commented on #534
Decision from meeting with Andrea: if the package name contains `beta`, the version is inferred to be `beta` and documentation is accordingly symmetrical.

[2018-12-13 02:53] andreamlin opened #537 "artman smoke tests failing due to ascii encoding error"
https://github.com/googleapis/artman/pull/536 may have broken the artman_smoke_tests CircleCI job. This is affecting gapic-generator ([failure](https://circleci.com/gh/googleapis/gapic-generator/12292#artifacts/containers/0)) and artman (https://circleci.com/gh/googleapis/artman/8656)

[Failure log](https://12292-56533838-gh.circle-artifacts.com/0/tmp/smoketest.log) has failure stack traces that p

[2018-12-13 02:55] andreamlin commented on #537
@pongad Can you investigate?

[2018-12-13 03:06] pongad commented on #537
I'll revert this for now.

[2018-12-17 22:51] #534 closed

[2018-12-18 21:20] pongad commented on #537
Fixed by #539.

[2018-12-18 21:20] #537 closed

[2018-12-19 22:43] jadekler opened #544 "Missing input file. should be more descriptive"
Sometimes artman fails with, `Missing input file.`. It would be really nice if it said, `Missing input file /foo/bar/gaz.txt.` :)

[2018-12-19 23:14] andreamlin commented on #544
@jadekler Would you mind printing out a sample stack trace? I'm trying to grep for `"Missing input file"` and variants of that but nothing is coming up, so I'm guessing it's some I/O dependency that's throwing that?

[2018-12-19 23:15] jadekler commented on #544
Certainly!

[code]

[2018-12-19 23:15] jadekler commented on #544
(btw, I re-ran artman and it worked fine)

[2018-12-20 00:10] andreamlin commented on #544
Ok, so it's protoc that's throwing this error.

[2018-12-20 00:11] jadekler commented on #544
Sure? I'd believe that :) ¯\_(ツ)_/¯

[2018-12-20 00:14] andreamlin commented on #544
Just noting that down that so that it would be written down somewhere. Also, https://github.com/protocolbuffers/protobuf/issues/3028

[2019-01-03 22:44] #508 closed

[2019-01-10 04:59] jadekler opened #547 "Go: run goimports as part of artman script"
This is currently happening:

- Run artman, which generates something like

[code]
- Run goimports, which turns the import statement _back_ into the following (because the package name does not match the directory name),
[code]

So, currently we are ending up with a bunch of versionClient=UNKNOWN churn, causing it to look like packages are getting updated when really nothing got changed. If artman

[2019-01-10 05:20] jadekler opened #548 "Go: release level not being considered"
We recently set [the spanner release level to GA](https://github.com/googleapis/googleapis/blob/master/google/spanner/artman_spanner.yaml#L31). However, when we regenerate gapics, the [alpha notice](https://github.com/googleapis/google-cloud-go/blob/master/spanner/apiv1/doc.go#L20) doesn't get removed as expected. I expect that this is a bug?

[2019-01-10 17:59] andreamlin commented on #548
I know that the GAPIC config at spanner_gapic.yaml release levels will affect the alpha notice. I'm not sure what the artman config (artman_spanner.yaml) release levels do...

I would expect that porting the change over to spanner_gapic.yaml will result in the behavior you expect.

[2019-01-10 18:04] andreamlin commented on #547
Can you provide an example PR where `versionClient=UNKNOWN` is generated? I can't seem to find where this would be set in the gapic-generator codebase, and I'm not sure when artman would introduce another string inside of a generated file.

[2019-01-10 18:23] vam-google commented on #547
This will be fixed in the upcoming Bazel GAPIC generation (Go support is coming soon, probably next week). Bazel generation produces equal to artman output, does not require installation and should be very easy to migrate to from artman. In that case, we can avoid making the enhancement in artman.

[2019-01-10 18:34] jadekler commented on #548
Gotcha - thanks!

[2019-01-10 18:34] #548 closed

[2019-01-10 18:35] jadekler commented on #547
Er... I'm thoroughly confused, sorry :( How do artman, bazel, and micro generators relate to each other? Is bazel just another driver for artman instead of docker containers, or?

[2019-01-10 23:09] vam-google commented on #547
@jadekler For our use case, we can think about this as follows:
- Bazel replaces Docker, but unlike Docker "installing" it means just getting single Bazel binary on the machine (there are also supported by the bazel team docker images with the binary already available, for convenience). This does not need root permissions and does not contaminate the system (i.e. does not require system-wide chang

[2019-01-10 23:53] jadekler commented on #547
Ah! Gotcha. Very interesting. How soon is "upcoming", for my edification?

[2019-01-16 22:31] noahdietz commented on #547
@jadekler to be clear, micro-generator support with Bazel is farther out, but I believe Bazel support for the existing GAPIC generator is coming very soon.

[2019-01-21 21:20] jadekler commented on #547
Ah - thanks!

[2019-01-29 23:30] andreamlin opened #555 "Switch to composer from pear for PHP dependencies"
New images of artman won't build because it requires the `pear` util, whose server has been hacked and is now down.

failure log https://circleci.com/gh/googleapis/artman/8964

pear's website: http://pear.php.net/
arstechnica article: https://arstechnica.com/information-technology/2019/01/pear-php-site-breach-lets-hackers-slip-malware-into-official-download/

We can switch to `composer` instead of

[2019-01-29 23:37] alexander-fenster commented on #555
Why me?  :)

@michaelbausor asking you as a PHP lead :) So we've got this in our `Dockerfile`:

[code]

These commands are called from here:

https://github.com/googleapis/artman/blob/5bcb88802ad9668fd6e6d2a7a15642ae6a340137/Dockerfile#L129-L132

Do you know the correct way of fixing it?

Thanks!

[2019-01-30 04:30] andreamlin commented on #555
@alexander-fenster haha meant to just cc you

it's a blocker for me, so i'll look into it first. I asked michael about using composer instead and that seems like a good alternative.

[2019-01-30 16:44] michaelbausor commented on #555
Another option that may be easier that using composer is to replace the `pear install` with a curl or wget to pull the .phar files from here: https://github.com/squizlabs/PHP_CodeSniffer/releases/tag/2.9.1. This is similar to the following three lines that pull in php-cs-fixer.

There are instructions here on using curl or wget: https://github.com/squizlabs/PHP_CodeSniffer#installation. To keep th

[2019-02-01 17:50] jadekler commented on #547
Friendly ping. This has almost been a month. I understand that the bazel stuff is coming soon (tm), but would it at all be possible to prioritize this enhancement now so that we aren't feeling pain however long the transition takes? It really is quite a nuisance every single time we generate clients.

[2019-02-01 18:01] noahdietz commented on #547
The Bazel Go support is being [reviewed right now](https://github.com/googleapis/gapic-generator/pull/2526)...so close! :pray:

@vam-google can you confirm that the work under review right now will help address this issue? Or is there something we need to add to it to get a fix in with the current PR?

[2019-02-01 19:12] andreamlin commented on #547
@noahdietz I think that we should just do the goimports feature request for artman if it's feasible. Unless Yoshi's synthtool migrates to using bazel soon, it won't matter if the Bazel support for Go is good to go. AFAIK Yoshi still uses artman for java generation even tho we have Bazel Java support.

[2019-02-01 19:18] noahdietz commented on #547
sgtm! I'll get on it

[2019-02-04 22:06] noahdietz commented on #547
After some poking around and testing, it doesn't look like usage `goimports` *isn't* the cause of the import naming churn. This can be verified by running `goimports -w language/` from within the `cloud.google.com/go` directory.

I will look at `gapic-generator` for potential miss naming of the package alias.

[2019-02-04 23:34] #547 closed

[2019-02-11 19:02] eoogbe commented on #427
@pongad Any updates?

[2019-02-11 19:16] pongad commented on #427
I don't have updates, though with the work @noahdietz has been doing, we might just resolve this by not using artman anymore :/

[2019-02-19 19:19] noahdietz commented on #427
I don't see artman going away very soon, so if this is easy enough to do, I can do it. Is there is any more info/context yall can share?

[2019-02-19 20:36] pongad commented on #427
`artman` is creating gRPC files twice, one in gapi-* directory and one in grpc-* directory. The files in two places are exactly the same, but it causes confusion. I think we should delete the one in grpc-* directory, since the gapi-* one is easier to script with.

[2019-02-19 22:44] noahdietz commented on #427
Yep, thanks for the clarification. I'll get to it.

[2019-02-20 23:57] vchudnov-g commented on #483
@lukesneeringer @jbolinger Any updates (to stay in SLO)?

[2019-02-20 23:57] vchudnov-g commented on #435
@lukesneeringer : Any updates (to stay in SLO)?

[2019-02-20 23:58] vchudnov-g commented on #307
Dropping to P3 since we're moving away from artman

[2019-02-20 23:59] vchudnov-g commented on #214
@lukesneeringer : Any updates (to stay in SLO)?

[2019-02-21 00:01] jbolinger commented on #483
I made a change some time ago that may have fixed this issue in Ruby. Have these tests been run recently?

[2019-02-25 18:18] noahdietz commented on #214
@lukesneeringer Any updates on this issue? Thanks!

[2019-02-25 18:20] noahdietz commented on #435
@lukesneeringer as mentioned earlier in the thread, there might be multiple issues here. Should we break things up into individual issues or is there an enumeration of fixes we can include here as an update? Thanks!

[2019-03-06 00:55] andreamlin commented on #555
Fixed in https://github.com/googleapis/artman/pull/557. Closing this.

[2019-03-06 00:55] #555 closed

[2019-03-06 17:31] jadekler opened #574 "Go: context should be documented at the package level of each gapic"
Something like,

[code]

[2019-03-06 17:31] jadekler commented on #574
cc @broady @tbpg @noahdietz

[2019-03-06 17:32] jadekler commented on #574
Alternatively we could put this documentation at cloud.google.com/go. We do already have a [Timeouts and Cancellation](https://godoc.org/cloud.google.com/go#hdr-Timeouts_and_Cancellation) section which is sort of similar.

[2019-03-06 17:35] noahdietz commented on #574
I think this issue should be in [gapic-generator](https://github.com/googleapis/gapic-generator). artman just runs tasks to generate and manage the generated artifacts. gapic-generator is where this change would happen.

That said, having something at cloud.google.com/go would be good too. I think this combined with a Client/pkg level comment in the gapic would be good. Per method comment seems re

[2019-03-06 17:36] jadekler commented on #574
@noahdietz Could you use the github "move issue" feature to pop it there? And, I'll try to remember to make these there instead next time. :)

[2019-03-07 21:28] busunkim96 commented on #483
@lukesneeringer @jbolinger It looks like this has been resolved for Ruby https://circleci.com/gh/googleapis/googleapis/1545. Are there any updates for Python?

[2019-03-12 23:46] tswast opened #579 "Python: include enums in generated documentation"
The documentation for the `google.cloud.someapi.gapic.enums` doesn't currently get generated.

Unfortunately, since many (all?) enum classes are inner classes, Sphinx's `automodule` directive doesn't seem to support that. Instead, it appears you can use `autoclass` for each class in the enums file.

Also, I don't see type hints indicating that these enums are used in the docstrings for the proto c

[2019-03-20 19:41] eoogbe opened #582 "Error while finding module specification for 'grpc_tools.protoc' (ModuleNotFoundError: No module named 'grpc_tools')"
Found when running:
[code]

[2019-03-20 19:44] beccasaurus commented on #582
/cc @googleapis/samplegen just because this is blocking one of my GCP Next sample launches

[2019-03-20 20:25] hzyi-google commented on #582
I thinks you need to install this: https://grpc.io/docs/quickstart/python.html

[2019-03-20 22:54] eoogbe commented on #582
Installed grpc tools, but getting the same error

[2019-03-20 23:18] hzyi-google commented on #582
This is a bit weird since I can successfully generating python_gapic for talent using the local `gapic-generator`. The only thing I can thing of is that please make sure you did not install `grpcio-tools` in a `virtualenv`, since _I think_ artman will create a separate virtualenv for itself when running.

[2019-03-22 20:34] eoogbe commented on #582
Installed outside of a virtualenv, but still getting the same error

[2019-03-25 06:23] AnupKumarPanwar opened #585 "Typos in CONTRIBUTING.rst"
There are some typos in `CONTRIBUTING.rst` in `Include tests` section

[2019-03-26 16:44] #585 closed

[2019-03-27 22:26] eoogbe commented on #582
Issue resolved by reinstalling artman

[2019-03-27 22:26] #582 closed

[2019-04-30 21:43] Katee opened #610 "Nested package proto imports fail for Python"
I'm not able to get Python GAPIC generation to work when using nested packages. Here's an example: https://github.com/Katee/artman-python-example

Running `artman --verbose --config artman_grafeas_v1.yaml generate python_gapic` in that repo returns:

[code]

Generation for all other languages does not return an error.

[2019-05-13 17:59] eoogbe commented on #610
Getting a 404 for the example code. Can you elaborate a little on the problem? What does your directory structure look like?

[2019-05-13 20:14] Katee commented on #610
Sorry, I could have closed this bug earlier.

The problem is I couldn't get Python generation to work without the package directive in the `*.proto` files matching the directory structure of the protos. This is already a known limitation of the Python client library generation.

[2019-05-13 20:14] #610 closed

[2019-06-04 18:39] mik-laj commented on #579
Is there any progress in this issues?

[2019-06-20 21:47] alexander-fenster opened #649 "--local runs are broken"
After #637, the `--local` runs don't work since the logic of `install_protoc.sh` does not work outside of the carefully crafted Docker image. We need to use `install_protoc.sh` in Docker only, and if it does not exist, not fail but revert to using the `protoc` installed in the system.

[2019-06-20 22:00] alexander-fenster commented on #649
@hzyi-google so since @andreamlin is out, do you think you'll have bandwidth to fix it, or should I just go ahead and do it? We do have folks using `--local` so they will complain soon I guess.

Also, I don't like the idea that the `.sh` script is being parsed in Python to extract the version numbers; I'd better refactor the version numbers away from the shell script but it's out of scope of this

[2019-06-20 23:30] hzyi-google commented on #649
Hey Alex,

If you have time please go ahead and fix it. I am on vacation for the rest
of the week and the entire week next week.

Thanks,
Hanzhen

On Thu, Jun 20, 2019, 15:00 Alexander Fenster <notifications@github.com>
wrote:

[2019-06-21 17:58] vam-google commented on #649
@alexander-fenster I'm wondering why that change was introduced. It looks like older version used by java was the case. Why didn't we just bumped the java protoc and grpc version, instead of doing that change. I would strongly consider reverting the change, as it complicates the system even more

[2019-06-26 20:04] #649 closed

[2019-06-26 23:33] beccasaurus opened #653 "Samples are not being generated (as of 0.29.1)"
20 minutes ago my sample builds started failing.

I can generate fine w/ 0.29.0

I get no samples as of 0.29.1

@googleapis/samplegen @alexander-fenster

[2019-06-27 04:41] beccasaurus opened #654 "Add sample generation to golden test (to catch samplegen regressions)"
We just accidentally pushed a release which broke samplegen – no sample files being output:
 - https://github.com/googleapis/artman/issues/653

To catch this, let's update the golden library so it has at least 1 code sample.

Here are some of the bits I've found out so far (really @alexander-fenster did) ~

 - We'll add the names of the generated sample files here:

https://github.com/googleapis/a

[2019-06-27 04:45] alexander-fenster commented on #654
These are two different things: golden

https://github.com/googleapis/artman/blob/22e143fcdb01e18caa6fc58e1ae3d5d3e2f90dce/.circleci/config.yml#L34-L40

and smoke

https://github.com/googleapis/artman/blob/22e143fcdb01e18caa6fc58e1ae3d5d3e2f90dce/.circleci/config.yml#L41-L59

Golden run just one example (library, the one with bookshelves and stuff) and checks the list of generated files (compares

[2019-06-28 01:59] alexander-fenster commented on #653
#656 will help passing the right parameter to gapic-generator but the main problem should be fixed in gapic-generator. After https://github.com/googleapis/gapic-generator/pull/2828 it requires some extra parameters in addition to `dev_samples`.

[2019-07-01 19:30] beccasaurus commented on #653
PLEASE UPGRADE TO P0

ping on status?

[2019-07-01 19:32] vchudnov-g commented on #653
https://github.com/googleapis/gapic-generator/pull/2860 should have fixed this, but we need to generate a new artman release.

[2019-07-01 19:59] #653 closed

[2019-07-01 20:25] vchudnov-g commented on #654
Bumping to P0 enhancement.

[2019-07-12 19:11] #654 closed

[2019-08-05 16:54] vchudnov-g commented on #483
Any updates on this? We're out of SLO (>3mo since last update)

[2019-08-05 16:56] vchudnov-g commented on #435
@lukesneeringer Any updates? We're out of SLO (>3mo since the last update)

[2019-08-05 16:56] vchudnov-g commented on #214
@lukesneeringer Any updates on this?

We're out of SLO (>3mo since the last update)

[2019-08-19 20:54] software-dov commented on #483
Tentatively closing issue due to lack of response.

[2019-08-19 20:54] #483 closed

[2019-08-19 22:38] jbolinger commented on #246
Done in https://github.com/googleapis/gapic-generator-ruby.

[2019-08-19 22:38] #246 closed

[2019-09-16 16:59] jadekler opened #732 "artman: pull the artman image for me"
We don't pin to latest docker image, but there's also no way for a user to get all versions of a docker image. That leads to a kinda crummy UX: I always have to run googleapis-artman, then get an error, then go docker pull for whatever version googleapis-artman is looking for.

Per @lukesneeringer suggestion: can we just have the python program do the pull, since it already knows which version it

[2019-09-16 17:14] jadekler opened #733 "module has no attribute FullLoader"
[code]

Same problem when I install it with python3.

[2019-09-16 17:29] alexander-fenster commented on #733
Looks like either Python 2.7 or some dependency problem. Suggested to use `virtualenv`:

[code]

[2019-09-16 17:29] #733 closed

[2019-10-09 19:25] jadekler commented on #732
Ping - anyone who can pick this up? It continues to be a huge QOL nuisance. :/

[2019-10-11 13:48] nuclearpinguin commented on #579
@lukesneeringer any update on this issue?

[2019-10-14 22:43] software-dov commented on #214
Closing as there has been no update for > 1 year.

[2019-10-14 22:43] #214 closed

[2019-10-21 16:50] xiaozhenliu-gg5 commented on #732
Ping Alex@ to take a look at this issue, not sure how long it takes to pull the image.

[2019-10-21 17:43] alexander-fenster commented on #732
@jadekler I see your pain :)  I will see if it's an easy fix to add `docker pull` there.

[2019-11-11 22:49] jadekler opened #761 "mysterious error"
Anyone know what this is about? This happens after a bunch of other APIs generate successfully:

[code]

[2019-11-15 21:16] jadekler commented on #761
Seems to have disappeared.

[2019-11-15 21:16] #761 closed

[2019-11-18 23:19] alexander-fenster opened #765 "un-whitelist monitoring"

[2019-12-02 17:44] chingor13 opened #769 "Java: update protoc plugin"
We're currently using the protoc plugin for version 3.7.1. Our clients are currently on 3.10.0 and 3.11.0 is rolling out soon

[2019-12-11 07:06] #769 closed

[2019-12-12 20:09] alexander-fenster opened #775 "fix cel API generation"
It currently fails.

https://github.com/googleapis/artman/blob/fcc5de85002c7a9d6c9bc9e46b313daef0aa7c03/test/smoketest_artman.py#L50

[2019-12-12 20:10] jadekler commented on #775
[code]

[2019-12-13 23:06] sgreenberg commented on #579
@alexander-fenster - Luke suggested you should take this? (I don't have permissions to assign it to you.)

[2019-12-13 23:16] tswast commented on #579
CC @software-dov as well, as I assume this is relevant to the microgenerator.

[2019-12-13 23:50] alexander-fenster commented on #579
I think it's related to the specific language (Python) and not the artman tool itself, so I'd better transfer to @software-dov directly. Dov, feel free to ping me, we might want to look at this together to understand how to fix it in monolith (I assume you know how to fix it in the microgenerator if the problem exists there).

[2020-01-08 08:13] hzyi-google commented on #775
@alexander-fenster Is it still a problem?

[2020-01-08 16:47] jadekler commented on #775
This was fixed. Sorry!

[2020-01-08 17:29] hzyi-google commented on #775
Great. Thanks for the update!

[2020-01-08 17:29] #775 closed

[2020-02-27 17:40] alexander-fenster opened #807 "allow passing extra command line options to protoc"
We need to pass per-language extra options to `protoc` invocation (taken from artman yaml).

[2020-04-10 00:16] hzyi-google commented on #526
The tests are going to be replaced by bazel presubmits.

[2020-04-10 00:16] #526 closed

[2020-04-10 00:17] hzyi-google commented on #544
We are not using artman for go generation any more.

[2020-04-10 00:17] #544 closed

[2020-04-29 01:24] deanorderly opened #830 "Does not work on the github.com/google/fhir protobufs?"
I can't seem to figure out how to use artman to generate my cloud healthcare java objects.  I can't file an issue on that project since there is no issues tab so filing it here.

Not even sure which project has the proto files for google cloud healthcare.  Any pointers to the right people would be great!!!

[2020-05-04 20:18] vchudnov-g commented on #307
We are deprecating the use of artman, so this may not get fixed. @vam-google , please feel free to chime in.

[2020-05-04 20:19] vchudnov-g commented on #435
Moving to P3 as we are deprecating artman, so this may not be fixed. @vam-google , please feel free to chime in.

[2020-05-04 20:25] vam-google commented on #307
@Yes, this should be closed. Artman is currently used only for portion of ruby clients and that is it.

[2020-05-04 20:25] #307 closed

[2020-05-04 20:26] vam-google commented on #435
Python generaton is migrated to bazel. Closing.

[2020-05-04 20:26] #435 closed

[2020-07-22 05:29] vam-google commented on #244
This functionality is not used anymore. Closing as obsolete.

[2020-07-22 05:29] #244 closed

[2021-01-21 13:13] forking-renovate[bot] opened #854 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:14] #854 closed

[2021-01-28 02:52] alexander-fenster commented on #732
No way we are going to fix anything in artman.  Deprecated it is.

[2021-01-28 02:52] #732 closed

[2021-01-28 02:54] alexander-fenster commented on #807
Surprisingly, this is implemented! #810.

[2021-01-28 02:54] #807 closed

[2021-03-08 20:02] #277 closed

[2021-03-08 20:02] #338 closed

[2021-03-08 20:02] #368 closed

[2021-03-08 20:02] #379 closed

[2021-03-08 20:02] #432 closed

[2021-03-08 20:02] #440 closed

[2021-03-08 20:02] #579 closed

[2021-03-08 20:02] #765 closed

[2021-03-08 20:02] #830 closed